.comd-tree-node {
  white-space: nowrap;
  display: flex;
}

.comd-tree-view--mode-navigation .comd-tree-node {
  &::before {
    /**
    * Setup for the selected/hover background
    */
    content: '\00a0'; // Need actual content for height rule
    color: rgba(0, 0, 0, 0);
    display: table;
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    border-left: $node-selected-border-width solid transparent;
    z-index: z-index(node-background, $tree-stackmap);
  }

  &::after {
    /**
    * Setup for the focused outline
    * This needs to be on the ::after pseudo element, since we need to have a high z-index for it to overlap other elements properly (multi-select f.ex)
    */
    content: '\00a0'; // Need actual content for height rule
    color: rgba(0, 0, 0, 0);
    display: flex;
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    pointer-events: none;
    z-index: z-index(node-drop-target, $tree-stackmap);
  }

  &:focus {
    outline: none;
  }
}

[data-react-tree-density='comfortable'] .comd-tree-node::before {
  border-left-width: $node-selected-border-width--comfortable;
}

[data-react-tree-density='compact'] .comd-tree-node::before {
  border-left-width: $node-selected-border-width--compact;
}

.comd-tree-node:focus::after {
  outline: 1px dashed $tree-node-border-color;
}

// This has to be a separate rule, even though it's identical to the '.comd-tree-node:focus::after' rule
// since IE/Edge doesn't understand this syntax yet. If it was included in the previous selector, the
// entire rule would be omitted since it doesn't understand it.
// Fixes 'double clicking' on a node, which causes a different child to be the focused element. Will not work in IE/Edge
// although Edge will probably get support for this soon.
.comd-tree-node:focus-within::after {
  outline: 1px dashed $tree-node-border-color;
}

.comd-tree-node__link {
  padding: 0;
  background: transparent;
  border: none;
  line-height: inherit;
  cursor: pointer;
  font-size: 13px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: z-index(node-text, $tree-stackmap);
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 0 1 auto;
  outline: none;
  margin-right: 4px;
}

.comd-tree-view--mode-navigation .comd-tree-node__link {
  // Create a clickable element that can cover the entire row
  // so that you can click on the left side of items in the tree and still navigate to them
  &::after {
    content: '\00a0'; // Need actual content for height rule
    cursor: pointer;
    color: rgba(0, 0, 0, 0);
    display: flex;
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    z-index: z-index(below-background, $tree-stackmap);
  }
}

.comd-tree-node--is-dragging .comd-tree-node__link {
  // A bug in IE, forces us to set opacity on the text instead of the whole element.
  opacity: 0.4;
}

.comd-tree-node__icon {
  display: flex;
  align-items: center;

  svg,
  img {
    height: 24px;
    width: 24px;
  }
}

[data-react-tree-density='comfortable'] .comd-tree-node__icon {
  svg,
  img {
    height: 18px;
    width: 18px;
  }
}

[data-react-tree-density='compact'] .comd-tree-node__icon {
  svg,
  img {
    height: 16px;
    width: 16px;
  }
}

.comd-tree-node__content {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  text-align: left;
  padding-left: 2px;
}

.comd-tree-node__selector-wrapper {
  min-width: 0;
}

.comd-tree-node__checkbox-wrapper {
  display: flex;
  padding: rem(2) 0;
}

.comd-tree-node__position-helper {
  // Extra wrapper to be able to position children absolutely
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1 1 auto;
  min-width: 1px; // allow flex item to shrink below content size: https://www.w3.org/TR/css-flexbox/#min-size-auto

  // Add an invisible character to avoid issues where theres no text content and the
  // container collapses and causes layout issues in the trees
  &::after {
    content: '\00a0'; // Need actual content for height rule
    color: rgba(0, 0, 0, 0);
    display: block;
    width: 0;
    overflow: hidden;
  }
}

.comd-tree-node__multiselection-selector {
  visibility: hidden;
  flex: none;
  position: absolute;
  left: 6px;
  z-index: z-index(node-above-text, $tree-stackmap);
  align-self: center;
}

.comd-tree-node__multiselection-label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.comd-tree-node:hover .comd-tree-node__multiselection-selector,
.comd-tree-node:focus .comd-tree-node__multiselection-selector {
  visibility: visible;
}

.comd-tree-node.comd-tree-node--is-deleted .comd-tree-node__link {
  opacity: 0.5;
}

.comd-tree-node:hover::before {
  background-color: $tree-node-hover-background-color;
  z-index: z-index(node-background-hover, $tree-stackmap);
  border-left-color: $tree-node-border-color-hover;
  box-shadow: 0 1px $node-divider-line-color, 0 -1px $node-divider-line-color;
}

.comd-tree-node:focus::before {
  z-index: z-index(node-background-hover, $tree-stackmap);
  border-left-color: $tree-node-border-color-hover;
  box-shadow: none;
}

.comd-tree-node.comd-tree-node--is-new::before {
  animation-name: tree-node-pulse-before;
  animation-delay: 150ms;
  animation-duration: 1350ms;
  animation-fill-mode: both;
  animation-iteration-count: 3;
}

.comd-tree-node.comd-tree-node--is-selected::before {
  background-color: $tree-node-hover-background-color;
}

.comd-tree-node.comd-tree-node--has-dividers::before {
  box-shadow: 0 1px $node-divider-line-color;
}

.comd-tree-node.comd-tree-node--is-current.comd-tree-node--has-dividers::before {
  box-shadow: 0 1px $node-divider-line-color, 0 -1px $node-divider-line-color;
}

.comd-tree-node.comd-tree-node--is-selected.comd-tree-node--has-dividers::before {
  box-shadow: 0 1px $node-divider-line-color, 0 -1px $node-divider-line-color;
}

.comd-tree-node--placeholder___ [data-react-tree-action-overflow] {
  display: none;
}

[data-react-tree-drag-clone] [data-react-tree-action-overflow],
[data-react-tree-drag-clone] [data-react-tree-expand-toggle] {
  visibility: hidden;
}

.comd-tree-node:hover [data-react-tree-action-overflow] {
  visibility: visible;
}

[data-react-tree-drag-clone] {
  position: absolute;
  z-index: z-index(below-background, $tree-stackmap);
  max-width: 200px;
}

[data-react-tree-drag-clone] [data-tree-node-id] {
  color: #434a52;
  fill: #434a52;
  z-index: z-index(below-background, $tree-stackmap);
  position: relative;
  margin-bottom: calc(-1em * #{$tree-spacing--standard});

  &::before {
    background-color: $tree-node-hover-background-color;
    border-left-color: $tree-node-border-color;
  }
}

[data-react-tree-drag-clone][data-react-tree-drag-count]::after {
  font-size: 12px;
  display: block;
  content: attr(data-react-tree-drag-count);
  position: absolute;
  color: #fff;
  font-weight: bold;
  top: 2px;
  right: 2px;
  z-index: z-index(drag-clone-count, $tree-stackmap);
  background: $tree-node-border-color;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  border: 1px solid #fff;
}

[data-react-tree-droptarget-position]::after,
[data-react-tree-droptarget-position]::before {
  $drop-indent: $tree-node-nested-indent;
  display: block;
  position: relative;
  height: 15px;
  border: 2px dashed #5fc6f3;
  background-color: #e8f7fd;
  z-index: z-index(node-drop-target, $tree-stackmap);
  margin-left: $drop-indent;
  width: calc(100% - #{$drop-indent}); // compensate for margin left
}

[data-react-tree-droptarget-position][data-react-tree-droptarget-position='after']::after,
[data-react-tree-droptarget-position][data-react-tree-droptarget-position='inside']::after {
  content: ' ';
}

[data-react-tree-droptarget-position][data-react-tree-droptarget-position='before']::before {
  content: ' ';
}

[data-react-tree-droptarget-position][data-react-tree-droptarget-position='inside']::after {
  $drop-inside-indent: $tree-node-nested-indent + $tree-node-nested-indent;
  margin-left: $drop-inside-indent;
  width: calc(100% - #{$drop-inside-indent}); // compensate for margin left
}

[data-react-tree-is-selector-visible='false']
  .comd-tree-node.comd-tree-node--is-current {
  color: $tree-node-is-current-color;
}

[data-react-tree-is-selector-visible='false']
  .comd-tree-node.comd-tree-node--is-current::before {
  background-color: $tree-node-current-background-color;
  z-index: z-index(node-background-selected, $tree-stackmap);
  border-left-color: $tree-node-border-color;
}

[data-react-tree-is-selector-visible='false']
  .comd-tree-node.comd-tree-node--is-current
  .comd-tree-node__link {
  color: currentColor;
  z-index: z-index(node-text-selected, $tree-stackmap);
}

[data-react-tree-is-selector-visible='true']
  .comd-tree-node
  .comd-tree-node__multiselection-selector {
  visibility: visible;
}

.comd-tree-node__child-selection {
  display: inline-flex;
  visibility: hidden;
  gap: rem(4);
  margin-right: rem(8);
}

.comd-tree-node:hover .comd-tree-node__child-selection,
.comd-tree-node:focus .comd-tree-node__child-selection {
  visibility: visible;
}
