.comd-tree-node-dropdown {
  z-index: z-index(node-above-text, $tree-stackmap);
  visibility: hidden;
  flex: none;
  margin: 0 rem(8);
  display: inline-flex;
}

.comd-tree-node-dropdown--is-open,
.comd-tree-node-dropdown--is-current {
  visibility: visible;
}
