.comd-tree-node-toggle {
  flex: none;
  z-index: z-index(node-expand-toggle, $tree-stackmap);

  // Should always reserve space for toggle, even when its not present
  width: $toggle-size;
}

.comd-tree-node-toggle__button {
  display: flex;
  justify-content: center;
  align-self: center;
  transition: transform 150ms ease-in-out;
}

.comd-tree-node-toggle__button--collapsed {
  transform: rotate(-90deg);
}
