.comd-tree-list {
  width: 100%;
  list-style: none;
}

.comd-tree-list--is-root {
  position: relative;
  background: inherit; // Ensure node clone is hidden with z-index
}

.comd-tree-list__li {
  margin-left: $tree-node-nested-indent;
}

// Different indent on root
.comd-tree-view--mode-navigation .comd-tree-list--is-root{
  & > .comd-tree-list__li {
    margin-left: $tree-node-root-indent;
  }

  // Different droptarget styling for top-level nodes, except for drop inside
  & > [data-react-tree-droptarget-position]:not([data-react-tree-droptarget-position='inside'])::after,
  & > [data-react-tree-droptarget-position]:not([data-react-tree-droptarget-position='inside'])::before {
    width: calc(100% + #{$tree-node-root-indent});
    margin-left: -$tree-node-root-indent;
  }
}

.comd-tree-view--mode-selection .comd-tree-list--is-root {
  & > .comd-tree-list__li {
    margin-left: $node-selected-border-width--comfortable;
  }

  // Different droptarget styling for top-level nodes, except for drop inside
  & > [data-react-tree-droptarget-position]:not([data-react-tree-droptarget-position='inside'])::after,
  & > [data-react-tree-droptarget-position]:not([data-react-tree-droptarget-position='inside'])::before {
    width: calc(100% + #{$node-selected-border-width--comfortable});
    margin-left: -$node-selected-border-width--comfortable;
  }
}

.comd-tree-view--mode-navigation .comd-tree-list--is-root:not(.comd-tree-list--has-selector) {
  & > .comd-tree-list__li {
    margin-left: $node-selected-border-width;
  }

  // Different droptarget styling for top-level nodes, except for drop inside
  & > [data-react-tree-droptarget-position]:not([data-react-tree-droptarget-position='inside'])::after,
  & > [data-react-tree-droptarget-position]:not([data-react-tree-droptarget-position='inside'])::before {
    width: calc(100% + #{$node-selected-border-width});
    margin-left: -$node-selected-border-width;
  }
}

// Extra space on bottom item in root tree for easier drop target after, when dragging is enabled
.comd-tree-list--is-root.comd-tree-list--is-drag-enabled > .comd-tree-list__li:last-child {
  padding-bottom: 50px;
}
