@import '../../../../../global-styles/src/configuration.scss';

$node-selected-border-width: 5px;
$node-selected-border-width--comfortable: 4px;
$node-selected-border-width--compact: 3px;

$toggle-size: 24px;
$selector-size: 24px;

$tree-node-root-indent: $selector-size + $node-selected-border-width;

$tree-node-nested-indent: $toggle-size;

/* To change density of list, change this lineheight */
$tree-spacing--standard: 3.3; // ~42px
$tree-spacing--comfortable: 2.35; // ~30px
$tree-spacing--compact: 1.72; // ~22px

/**
 * Z-index stack map for nodes
 */
$tree-stackmap: (
  drag-clone-count: 9999,
  resize-handle: 95,
  node-drop-target: 90,
  node-expand-toggle: 60,
  node-above-text: 55,
  node-text-selected: 52,
  node-text: 50,
  node-background-selected: 24,
  node-background-hover: 22,
  node-background: 20,
  tree-root: 0,
  below-background: -1,
);

$tree-node-is-current-color: #000;
$tree-node-is-new-pulse-background-color: #fff;
$tree-node-current-background-color: $comd-grey-saturation-sc-pt5;
$tree-node-hover-background-color: $comd-grey-saturation-sc-pt5;
$tree-node-border-color: $comd-color-blue-saturation-sc-pt1;
$tree-node-border-color-hover: transparent;
$node-divider-line-color: $comd-grey-saturation-sc-pt8;

@keyframes tree-node-pulse-before {
  0% {
    background-color: $tree-node-is-new-pulse-background-color;
    border-left-color: transparent;
  }
  50% {
    background-color: $tree-node-current-background-color;
    border-left-color: $tree-node-border-color;
  }
  100% {
    background-color: $tree-node-is-new-pulse-background-color;
    border-left-color: transparent;
  }
}

@function z-index($key, $map) {
  @if map-has-key($map, $key) {
    @return map-get($map, $key);
  } @else {
    @warn 'Unknown key: "#{$key}" in map';
  }
}
