@import './_variables';
@import './_tree-list';
@import './_tree-node';
@import './_tree-node-toggle';
@import './_tree-node-dropdown-toggle';
@import './_tree-node-dropdown-menu';

.comd-tree-view {
  position: relative; // force new stacking context
  z-index: z-index(tree-root, $tree-stackmap);
  background-color: #fff;
  line-height: $tree-spacing--standard;
  font-size: 13px;
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
}

.comd-tree-view--comfortable {
  line-height: $tree-spacing--comfortable;
}

.comd-tree-view--compact {
  line-height: $tree-spacing--compact;
}
