@import '../../../global-styles/src/_configuration.scss';

.comd-main-application-list {
  &__name-link {
    font-size: comd-font-size('x-large');
    font-weight: comd-font-weight('semibold');
  }
}
