.comd-chip__actions {
  display: flex;
  align-items: center;
  margin-right: rem(8);
  margin-left: rem(-8);
  outline: none;
}

.comd-chip__hover-actions-wrapper {
  position: relative;
}

.comd-chip__hover-actions {
  display: none;
  position: absolute;
  right: 0;
  z-index: 1;
  background: linear-gradient(
    -90deg,
    solid-color($TextDisabled) 65%,
    rgba(solid-color($TextDisabled), 0) 100%
  );
  transform: translateY(-50%);
  padding-left: rem(8);

  &--activated {
    background: linear-gradient(
      -90deg,
      $SecondaryAccent 65%,
      rgba($SecondaryAccent, 0) 100%
    );
  }
}

.comd-chip__chip:hover .comd-chip__hover-actions {
  display: flex;
}
