.comd-chip__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $TextDisabled;
  width: rem(24);
  height: rem(24);
  border-radius: 100%;
  margin-left: rem(2);
  flex-shrink: 0;
}

.comd-chip__icon svg {
  fill: $ContrastLow;
  width: rem(16);
  height: rem(16);
}
