.comd-chip__label {
  cursor: inherit;
  display: flex;
  align-items: center;
  user-select: none;
  white-space: nowrap;
  padding-left: rem(12);
  padding-right: rem(12);
  overflow: hidden;
  font-size: comd-font-size('medium');
  font-weight: comd-font-weight('semibold');
}
