/* ---------- Source Sans Pro font ------------ */

@font-face {
  font-family: 'Source Sans Pro';
  font-stretch: normal;
  font-style: normal;
  font-weight: 300;
  src:
    url('fonts/SourceSansPro-Light.ttf.woff2') format('woff2'),
}

@font-face {
  font-family: 'Source Sans Pro';
  font-stretch: normal;
  font-style: normal;
  font-weight: 400;
  src:
    url('fonts/SourceSansPro-Regular.ttf.woff2') format('woff2'),
}

@font-face {
  font-family: 'Source Sans Pro';
  font-stretch: normal;
  font-style: normal;
  font-weight: 600;
  src:
    url('fonts/SourceSansPro-Semibold.ttf.woff2') format('woff2'),
}

@font-face {
  font-family: 'Source Sans Pro';
  font-stretch: normal;
  font-style: normal;
  font-weight: 700;
  src:
    url('fonts/SourceSansPro-Bold.ttf.woff2') format('woff2'),
}
