// This should be removed at a later point. It gives the impression that our components looks a certain way
// but it is because this import adds some styles to body tags and other html elements.
// This unfortunately also affects Default theme.

// Need to find a good solution for this. Should all components inherit some base styles to apply?
@import '../../packages/global-styles/src/base';
@import '../../packages/global-styles/src/cssVariables';

// Material expects source sans pro to be used.
// To make our storybook examples look better, apply that font when material theme is enabled.
// This example uses WOFF2, and is not supported in IE11, so do NOT copy this example to your app :)
@import './_source-sans-pro-font-face';

// stylelint-disable declaration-no-important
// Workaround to apply Arial font to default theme, since it is not using Source Sans Pro
.theme-default {
  font-family: 'Arial', 'Helvetica', 'Geneva', sans-serif !important;
}

.theme-default * {
  font-family: 'Arial', 'Helvetica', 'Geneva', sans-serif !important;
}
