@import '../../../global-styles/src/configuration.scss';

$transitionDuration: 200ms;

.comd-carousel {
  position: relative;
  min-height: 100px;
  height: auto;
  overflow: hidden;
  text-align: left;
}

.comd-carousel .comd-carousel__slides {
  transition: margin-left $transitionDuration ease-in-out;
  height: 100%;
}

.comd-carousel .comd-carousel__slide-content {
  padding: 20px 50px;
}

.comd-carousel .comd-carousel__slide {
  display: inline-block;
  position: relative;
  vertical-align: top;
  height: 100%;
  overflow: auto;
}

.comd-carousel .comd-carousel__slide img {
  max-width: 100%;
  height: auto;
}

.comd-carousel .comd-carousel__nav-arrow {
  cursor: pointer;
  display: block;
  height: 100px;
  margin-top: -50px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 50px;
  opacity: .3;
  transition: opacity $transitionDuration;
  background: #dedede;

  &:hover {
    opacity: 1;
  }
}

.comd-carousel .comd-carousel__nav-arrow svg {
  fill: #fff;
  height: 50px;
  width: 50px;
  margin-top: 25px;
  opacity: 0;
  transition: opacity $transitionDuration;
}

.comd-carousel .comd-carousel__nav-arrow.comd-carousel__nav-arrow--prev {
  left: -30px;
  transition: left $transitionDuration;
  border-radius: 0 100% 100% 0 / 50% 50%;

  &:hover {
    left: 0;
  }
}

.comd-carousel .comd-carousel__nav-arrow.comd-carousel__nav-arrow--next {
  right: -30px;
  transition: right $transitionDuration;
  border-radius: 100% 0 0 100% / 50% 50%;

  &:hover {
    right: 0;
  }
}

.comd-carousel .comd-carousel__nav-arrow:hover svg {
  opacity: 1;
}

.comd-carousel .comd-carousel__pagination {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

.comd-carousel .comd-carousel__page {
  background-color: $PrimaryAccent;
  opacity: .3;
  border-radius: 5px;
  cursor: pointer;
  height: 10px;
  margin: 0 5px;
  transition: background-color $transitionDuration linear;
  width: 10px;
}

.comd-carousel .comd-carousel__page.comd-carousel__page--active {
  opacity: 1;
}
