@import '../../../../../global-styles/src/configuration.scss';

.comd-search {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.comd-search__container {
  display: flex;
  width: 0;
  opacity: 0;
  overflow: hidden;
  transition: opacity 90ms ease-in 40ms, width 180ms ease-in;
}

.comd-search__container--visible {
  opacity: 1;
  width: 100%;
  overflow: visible;
}

.comd-search__input-container {
  display: flex;
  align-items: flex-end;
  height: 100%;
  width: 100%;
  border-radius: rem(4);
  background-color: $comd-grey-saturation-sc-pt1-op6;
}

.comd-search__back-icon {
  margin-right: rem(8);
}

.comd-search__toggle-icon {
  margin: auto 0 auto auto;
}

.comd-search__select {
  flex-shrink: 0;
  position: relative;
  margin: 0 rem(14) 0 rem(-12);
}

.comd-search__select-border {
  width: rem(1);
  bottom: 0;
  right: 0;
  top: 0;
  position: absolute;
  background: $Disabled;
}

.comd-search__search-button-wrapper {
  margin-left: rem(8);
}
