@import '../../../global-styles/src/configuration';

@keyframes comd-autosave-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.comd-autosave {
  display: flex;
  align-items: center;
  min-height: rem(40);
}

.comd-autosave__message > [data-autosave-message] {
  margin-right: rem(8);

  flex: none;
}

.comd-autosave__icon-syncing {
  display: inline-flex;
  animation-name: comd-autosave-spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.comd-autosave__icon-save {
  fill: $Safe;
}

.comd-autosave__buttons {
  margin-right: rem(4);
  flex: none;
}

.comd-autosave__divider {
  height: rem(32);
  width: 1px;
  background-color: $Disabled;
  flex: none;
}
