@import '../../../global-styles/src/_configuration.scss';

.comd-survey-data-export-title {
  display: flex;
  align-items: center;
}

.comd-survey-data-export-title__icon {
  margin-right: rem(8);
}

.comd-survey-data-export-title__survey-name {
  font-size: rem(16);
  margin-right: rem(8);
}

.comd-survey-data-export-title__survey-id {
  color: $TextSecondary;
}
