@import '../../../global-styles/src/_configuration.scss';

.comd-survey-data-export {
  background: $ContrastLow;
}

// Would be nice to replace this with Fieldset component as a wrapper, but to get it working nicely,
// we would need to introduce a grid layoutStyle for Fieldset, and that wont be possible until we drop IE11 support
// since it would need a variable amount of rows.
.comd-survey-data-export__input-container {
  margin-bottom: rem(12);
  display: flex;
  justify-content: space-between;
  align-items: center;

  // ensure Switches are aligned properly with other fields
  min-height: rem(40);
}

.comd-survey-data-export__open-ends-character-limit {
  max-width: rem(120);
}

// css grid would be a bit nicer, but no IE auto placement support
.comd-survey-data-export__two-columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-end;

  > * {
    width: calc(50% - #{rem(6)});
  }
}

.comd-survey-data-export__one-column {
  width: 100%;
}

.comd-survey-data-export__override-file-name-keywords {
  display: flex;
  justify-content: space-between;
  margin: rem(16) 0;
}

.comd-survey-data-export__date-range-time-input-wrapper {
  flex: 0 1 rem(100);
}

.comd-survey-data-export__date-picker {
  flex: 1 1 0;
}
