$backdrop-opacity: .12;

.comd-dialog-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: opacity 200ms ease-out;
  background-color: rgb(18, 24, 33);
  opacity: $backdrop-opacity;

  &--fixed {
    position: fixed;
  }

  &--absolute {
    position: absolute;
  }
}

.comd-dialog--enter .comd-dialog__body-wrapper,
.comd-dialog--appear .comd-dialog__body-wrapper {
  &.comd-dialog__body-wrapper--small {
    @include dialog-enter-appear(small);
  }

  &.comd-dialog__body-wrapper--medium {
    @include dialog-enter-appear(medium);
  }

  &.comd-dialog__body-wrapper--large,
  &.comd-dialog__body-wrapper--huge {
    @include dialog-enter-appear(large);
  }
}

.comd-dialog--leave .comd-dialog__body-wrapper {
  &.comd-dialog__body-wrapper--small {
    @include dialog-leave(small);
  }

  &.comd-dialog__body-wrapper--medium {
    @include dialog-leave(medium);
  }

  &.comd-dialog__body-wrapper--large,
  &.comd-dialog__body-wrapper--huge {
    @include dialog-leave(large);
  }
}

.comd-dialog--enter.comd-dialog--enter-active .comd-dialog__body-wrapper,
.comd-dialog--appear.comd-dialog--appear-active .comd-dialog__body-wrapper {
  &.comd-dialog__body-wrapper--small {
    @include dialog-enter-active(small);
  }

  &.comd-dialog__body-wrapper--medium {
    @include dialog-enter-active(medium);
  }

  &.comd-dialog__body-wrapper--large,
  &.comd-dialog__body-wrapper--huge {
    @include dialog-enter-active(large);
  }
}

.comd-dialog--leave.comd-dialog--leave-active .comd-dialog__body-wrapper {
  &.comd-dialog__body-wrapper--small {
    @include dialog-leave-active(small);
  }

  &.comd-dialog__body-wrapper--medium {
    @include dialog-leave-active(medium);
  }

  &.comd-dialog__body-wrapper--large,
  &.comd-dialog__body-wrapper--huge {
    @include dialog-leave-active(large);
  }
}

.comd-dialog-backdrop.comd-dialog-backdrop--enter,
.comd-dialog-backdrop.comd-dialog-backdrop--appear {
  opacity: 0;
}

.comd-dialog-backdrop.comd-dialog-backdrop--enter.comd-dialog-backdrop--enter-active,
.comd-dialog-backdrop.comd-dialog-backdrop--appear.comd-dialog-backdrop--appear-active {
  opacity: $backdrop-opacity;
}

.comd-dialog-backdrop.comd-dialog-backdrop--leave {
  opacity: 0;
}
