$heightBreakpoints: (
  'small': 500,
  'medium': 600,
  'large': 767,
);

@mixin comd-responsive-height($name) {
  @if map-has-key($heightBreakpoints, $name) {
    @media screen and (max-height: '#{map-get($heightBreakpoints, $name)}px') {
      @content;
    }
  }
}

// transitions
@mixin dialog-enter-appear($dialog-size) {
  opacity: 0;
  @include comd-responsive($dialog-size) {
    transform: translate(0, 100%);
  }
  @include comd-responsive($dialog-size, 'min') {
    transform: scale(.9);
  }
}

@mixin dialog-leave($dialog-size) {
  opacity: 1;
  @include comd-responsive($dialog-size) {
    transform: translate(0, 0);
  }
  @include comd-responsive($dialog-size, 'min') {
    transform: scale(1);
  }
}

// TODO: Change transition to use shared timing and easing
@mixin dialog-enter-active($dialog-size) {
  transition: transform 200ms ease-out, opacity 200ms ease-in-out;
  opacity: 1;
  @include comd-responsive($dialog-size) {
    transform: translate(0, 0);
  }
  @include comd-responsive($dialog-size, 'min') {
    transform: scale(1);
  }
}

@mixin dialog-leave-active($dialog-size) {
  transition: transform 200ms ease-out, opacity 200ms ease-in-out;
  opacity: 0;
  @include comd-responsive($dialog-size) {
    transform: translate(0, 100%);
  }
  @include comd-responsive($dialog-size, 'min') {
    transform: scale(.9);
  }
}
