@import '../../../global-styles/src/configuration';
@import 'mixin';
@import 'backdrop';

$topOffset: 10vh;
$headerHeight: rem(56);
$footerHeight: rem(72);
$bodyHeight: calc(100vh - #{$topOffset} - #{$topOffset} - #{$headerHeight} - #{$footerHeight});
$expandedBodyHeight: calc(100vh - #{$headerHeight} - #{$footerHeight} + #{$topOffset});

body.comd-dialog-open {
  overflow: hidden;
}

.comd-dialog {
  position: fixed;
  left: 50%;
  top: $topOffset;
  transform: translate(-50%, 0);
  -webkit-overflow-scrolling: touch;
  outline: 0;

  &--small {
    @include comd-responsive('small') {
      transform: translate(-50%, -$topOffset);
    }
    @include comd-responsive-height('small') {
      transform: translate(-50%, -$topOffset);
    }
  }

  &--medium {
    @include comd-responsive('medium') {
      transform: translate(-50%, -$topOffset);
    }
    @include comd-responsive-height('medium') {
      transform: translate(-50%, -$topOffset);
    }
  }

  &--large,
  &--huge {
    @include comd-responsive('large') {
      transform: translate(-50%, -$topOffset);
    }
    @include comd-responsive-height('large') {
      transform: translate(-50%, -$topOffset);
    }
  }

  &--fixed {
    position: fixed;
  }

  &--absolute {
    position: absolute;
  }

}

.comd-dialog__body-wrapper {
  position: relative;
  opacity: 1;
  transition: transform 150ms ease-in-out, opacity 150ms ease-in-out;
  min-width: 200px;
  min-height: 150px;
}

.comd-dialog__content {
  background-color: #ffffff;
  outline: none;
  box-shadow: 0 0 1.714rem 0 rgba(0, 0, 0, .22), 0 1.714rem 1.714rem 0 rgba(0, 0, 0, .3);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 2px;
}

.comd-dialog__header {
  display: flex;
  align-items: center;
  flex: none;
  justify-content: space-between;
  min-height: $headerHeight;
  overflow: hidden;
  padding: rem(8) rem(8) rem(8) rem(24);
}

.comd-dialog__header-content {
  display: flex;
  overflow: hidden;
  align-items: center;
}

.comd-dialog__header-actions {
  display: flex;
  overflow: hidden;
  align-items: center;
  flex: none;
}

.comd-dialog__body-wrapper--draggable .comd-dialog__header {
  cursor: move;
}

.comd-dialog__title {
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 1ch 0 0;
  white-space: nowrap;
  font: $comd-h3-v3;
}

.comd-dialog__body {
  flex: 1 1 auto;
  overflow: auto;
  max-height: $bodyHeight;
  padding: 0;
}

.comd-dialog__body--padding {
  padding: rem(8) rem(24) rem(24) rem(24);
}

.comd-dialog__body.comd-dialog__body--small {
  @include comd-responsive('small') {
    max-height: none;
  }
  @include comd-responsive-height('small') {
    max-height: $expandedBodyHeight;
  }
}

.comd-dialog__body.comd-dialog__body--medium {
  @include comd-responsive('medium') {
    max-height: none;
  }
  @include comd-responsive-height('medium') {
    max-height: $expandedBodyHeight
  }
}

.comd-dialog__body.comd-dialog__body--large,
.comd-dialog__body.comd-dialog__body--huge {
    @include comd-responsive('large') {
    max-height: none;
  }
  @include comd-responsive-height('large') {
    max-height: $expandedBodyHeight;
  }
}

.comd-dialog__footer {
  flex: none;
  display: flex;
  min-height: $footerHeight;
  overflow: hidden;
  padding: rem(8) rem(24) rem(24) rem(24);
  justify-content: flex-end;
}

.comd-dialog__body-wrapper.comd-dialog__body-wrapper--small {
  width: 300px;
  @include comd-responsive('small') {
    width: 100vw;
    height: 100vh;
  }
  @include comd-responsive-height('small') {
    height: 100vh;
  }
}

.comd-dialog__body-wrapper.comd-dialog__body-wrapper--medium {
  width: 600px;
  @include comd-responsive('medium') {
    width: 100vw;
    height: 100vh;
  }
  @include comd-responsive-height('medium') {
    height: 100vh;
  }
}

.comd-dialog__body-wrapper.comd-dialog__body-wrapper--large {
  width: 900px;
  @include comd-responsive('large') {
    width: 100vw;
    height: 100vh;
  }
  @include comd-responsive-height('large') {
    height: 100vh;
  }
}

.comd-dialog__body-wrapper--huge {
  width: 90vw;
  @include comd-responsive('large') {
    width: 100vw;
    height: 100vh;
  }
  @include comd-responsive-height('large') {
    height: 100vh;
  }
}
