@import '../../../global-styles/src/_configuration.scss';

.comd-markdown-editor {
  width: 100%;
}

.comd-markdown-editor__textarea {
  width: 100%;
  border: rem(1) solid $TextDisabled;
  border-top: none;
  border-radius: 0 0 rem(4) rem(4);
  resize: none;
  padding: rem(16);
  color: $TextPrimary;
  font-size: rem(14);
  line-height: rem(18);
  box-sizing: border-box;

  &:hover {
    border-color: $TextSecondary;
  }

  &:focus {
    padding-left: rem(15);
    padding-bottom: rem(15);
    border-width: rem(2);
    border-color: $PrimaryAccent;
  }
}

.comd-markdown-editor__toolbar {
  display: flex;
  flex-wrap: wrap;
  border: rem(1) solid $TextDisabled;
  border-radius: rem(4) rem(4) 0 0;
}

/* stylelint-disable selector-pseudo-class-no-unknown */
.comd-markdown-editor__toolbar :global(.mde-header-group) {
  display: flex;
  padding: rem(4) 0 rem(4) rem(6);

  &:not(:last-child)::after {
    display: flex;
    align-items: center;
    content: '|';
    font-size: rem(18);
    font-weight: 300;
    color: $TextDisabled;
    line-height: rem(24);
  }
}

.comd-markdown-editor__toolbar-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: rem(6);
  height: rem(24);
  width: rem(24);
  background: white;
  border: none;
  border-radius: rem(2);
  outline: none;

  &:focus,
  &:hover {
    background: $Disabled;
    cursor: pointer;
  }
}

.comd-markdown-editor__popover-button {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.comd-markdown-editor__popover-content {
  width: rem(192);
}

.comd-markdown-editor__popover-content-row {
  display: flex;

  &:not(:last-child) {
    margin-bottom: rem(8);
  }
}

.comd-markdown-editor__popover-content-row--buttons {
  justify-content: flex-end;
}

.comd-markdown-editor__popover-content-row-item:not(:last-child) {
  margin-right: rem(8);
}
