@import '../../../global-styles/src/_configuration.scss';

.comd-counter {
  font-family: $comd-font-family;
  font-weight: comd-font-weight('semibold');
  font-size: comd-font-size('x-large');
  flex: none;
  border-radius: 50%;
  display: inline-flex;
  height: rem(24);
  width: rem(24);
  align-items: center;
  justify-content: center;
}

.comd-counter--default {
  background: $Background2;
  color: $TextSecondary;
}

.comd-counter--step {
  background: $PrimaryAccent;
  color: $ContrastLow;
}

.comd-counter--error {
  background: $Danger;
  color: $ContrastLow;
}

.comd-counter--reference {
  background: $Warning;
  color: $ContrastLow;
}
