.comd-inbox {
  background: $ContrastLow;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.comd-inbox__container {
  @include comd-inbox-absolute-container;
  @include comd-inbox-vertical-flex;
  background: inherit;
}

.comd-inbox__header {
  @include comd-inbox-horizontal-flex;
  min-height: rem(70);
  padding-left: $comd-inbox-padding-l;
  padding-right: $comd-inbox-padding-r;
}

.comd-inbox__scroll-container {
  @include comd-inbox-stretch-container;
  background: inherit;
  margin-bottom: $comd-inbox-group-margin-t-b;
  position: relative;
}

.comd-inbox__header-title {
  flex-grow: 1;
  font-family: $comd-font-family;
  font-size: rem(24);
  margin-left: $comd-inbox-single-line-margin-l;
}

.comd-inbox__header-buttons {
  display: flex;
}

.comd-inbox__wait-button {
  left: 50%;
  margin: $comd-inbox-group-margin-t-b 0;
  position: absolute;
  transform: translateX(-50%);
}

.comd-inbox__menu-item {
  align-items: center;
  display: flex;
}

.comd-inbox__loading-container {
  display: flex;
  justify-content: center;
  margin: $comd-inbox-group-margin-t-b 0;
}

.comd-inbox__messages-placeholder {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 50%;
  position: absolute;
  top: 25%;
  transform: translateX(-50%);
}

.comd-inbox__messages-placeholder-icon {
  fill: $Disabled;
}

.comd-inbox__messages-placeholder-text {
  color: $TextDisabled;
  font-family: $comd-font-family;
  font-size: comd-font-size('xx-large');
  margin-top: rem(24);
}

/////

.comd-inbox__list-transition--enter {
  transform: translateX(0%);
}

.comd-inbox__list-transition--enter-active {
  transition: transform $comd-inbox-animation-ms;
  transform: translateX(0%);
}

.comd-inbox__list-transition--exit-active {
  transition: transform $comd-inbox-animation-ms;
  transform: translateX(-100%);
}

.comd-inbox__list-transition--exit {
  transform: translateX(-100%);
}
