.comd-inbox-message-content {
  @include comd-inbox-absolute-container;
  @include comd-inbox-vertical-flex;
  background: inherit;
}

.comd-inbox-message-content__header {
  @include comd-inbox-horizontal-flex;
  background: inherit;
  min-height: rem(70);
  padding-left: rem(12);
  padding-right: $comd-inbox-padding-r;
  z-index: 1;
}

.comd-inbox-message-content__header-title {
  flex-grow: 1;
  font-family: $comd-font-family;
  font-size: comd-font-size('xxx-large');
  margin-left: $comd-inbox-single-line-margin-l;
}

.comd-inbox-message-content__message-container {
  background: inherit;
  height: 100%;
  position: relative;
}

.comd-inbox-message-content__message {
  @include comd-inbox-absolute-container;
  background: inherit;
  border-bottom: $comd-inbox-border;
  border-top: $comd-inbox-border;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
  padding: $comd-inbox-group-margin-t-b 0;
}

.comd-inbox-message-content__message-header {
  @include comd-inbox-horizontal-flex;
  height: rem(48);
  padding-left: $comd-inbox-padding-l;
  padding-right: $comd-inbox-padding-r;
}

.comd-inbox-message-content__message-title {
  color: $TextSecondary;
  flex-grow: 1;
  font-family: $comd-font-family;
  font-size: comd-font-size('x-large');
  padding-left: rem(32);
}

.comd-inbox-message-content__body {
  @include comd-inbox-stretch-container;
  color: $TextPrimary;
  font-family: $comd-font-family;
  font-size: comd-font-size('x-large');
  line-height: rem(24);
  margin-right: rem(24);
  margin-top: rem(12);
  padding-left: rem(56);
  padding-right: rem(32);
}

.comd-inbox-message-content__footer {
  background: inherit;
  display: flex;
  justify-content: space-between;
  padding: rem(24);
  z-index: 1;

  &--left-only {
    justify-content: flex-start;
  }

  &--right-only {
    justify-content: flex-end;
  }
}

.comd-inbox-message-content__footer-button {
  display: flex;
}

.comd-inbox-message-content__footer-button--left {
  justify-content: flex-start;
}

.comd-inbox-message-content__footer-button--right {
  justify-content: flex-end;
}

/////

.comd-inbox-message-content__message-transition--enter {
  transform: translateX(0%);
}

.comd-inbox-message-content__message-transition--enter-active {
  box-shadow: $comd-inbox-box-shadow-r;
  transition: transform $comd-inbox-animation-ms;
  transform: translateX(0%);
}

.comd-inbox-message-content__message-transition--exit-active {
  box-shadow: $comd-inbox-box-shadow-l;
  transition: transform $comd-inbox-animation-ms;
  transform: translateX(100%);
}

.comd-inbox-message-content__message-transition--exit {
  transform: translateX(100%);
}

.comd-inbox-message-content__overlap-transition {
  transform: translateX(0%);
}

.comd-inbox-message-content__left-transition--enter-active {
  box-shadow: $comd-inbox-box-shadow-l;
  transition: transform $comd-inbox-animation-ms ease;
  transform: translateX(100%);
}

.comd-inbox-message-content__right-transition--enter-active {
  box-shadow: $comd-inbox-box-shadow-l;
  transition: transform $comd-inbox-animation-ms ease;
  transform: translateX(-100%);
}
