.comd-inbox-message-group {
  background: inherit;
  overflow: hidden;
  margin-bottom: $comd-inbox-group-margin-t-b;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.comd-inbox-message-group__header {
  align-items: center;
  background: inherit;
  display: flex;
  height: rem(48);
  justify-content: space-between;
  padding-left: $comd-inbox-padding-l;
  padding-right: $comd-inbox-padding-r;
  position: sticky;
  top: 0;
  z-index: 1;
}

.comd-inbox-message-group__title {
  font-family: $comd-font-family;
  font-size: comd-font-size('xxx-large');
}

.comd-inbox-message-group__preview {
  align-items: center;
  border-bottom: $comd-inbox-border;
  cursor: pointer;
  display: flex;
  height: rem(48);
  padding-left: $comd-inbox-padding-l;
  padding-right: $comd-inbox-padding-r;

  &:focus,
  &:hover {
    background-color: $Background1;
    color: inherit;
    outline: none;
  }

  /* Truncate component has no more className property, see https://forsta.atlassian.net/browse/NPM-925
     Using data- attributes is an escape hatch only for use within the shared components.
     If you have to resort to this in application code,
     then that is a good sign that we need to discuss something with UX.
  */
  > [data-testid="preview-text"] {
    flex: 1;
    font-family: $comd-font-family;
    font-size: comd-font-size('x-large');
    margin-left: rem(24);
    margin-right: rem(50);
  }
}

.comd-inbox-message-group__preview--unread {
  /* Truncate component has no more className property, see https://forsta.atlassian.net/browse/NPM-925
     Using data- attributes is an escape hatch only for use within the shared components.
     If you have to resort to this in application code,
     then that is a good sign that we need to discuss something with UX.
  */
  > [data-testid="preview-text"] {
    font-weight: comd-font-weight('bold');
    margin-left: rem(16);
  }
}

.comd-inbox-message-group__notification-dot {
  background: $PrimaryAccent;
  border-radius: 50%;
  height: rem(8);
  width: rem(8);
}

.comd-inbox-message-group__group-transition {
  transform: translateY(0%);
  opacity: 1;
}


.comd-inbox-message-group__group-transition--enter-active {
  transition-property: opacity, transform;
  transition-duration: $comd-inbox-animation-ms;
  transition-timing-function: ease-out;
  transform: translateY(-100%);
  opacity: 0;
}
