@mixin comd-inbox-vertical-flex {
  display: flex;
  flex-direction: column;
  height: 100%;
}

@mixin comd-inbox-horizontal-flex {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

@mixin comd-inbox-stretch-container {
  flex-grow: 1;
  overflow: auto;
  min-height: 0;
}

@mixin comd-inbox-absolute-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
