$comd-inbox-group-margin-t-b: rem(24);
$comd-inbox-padding-l: rem(24);
$comd-inbox-padding-r: rem(12);
$comd-inbox-single-line-margin-l: rem(8);
$comd-inbox-border: rem(1) solid $Disabled;
$comd-inbox-animation-ms: 300ms;
$comd-inbox-box-shadow-l: -2px 0 10px -6px $TextDisabled;
$comd-inbox-box-shadow-r: 2px 0 10px -6px $TextDisabled;
