@import '../../../global-styles/src/configuration';

$wide-input-field-width: rem(150);
$narrow-input-field-width: rem(75);
$row-space-between: rem(12);
$input-space-between: rem(8);

.comd-scheduler__text {
  color: $TextPrimary;
  font-size: comd-font-size('x-large', 'rem');
}

.comd-scheduler__row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.comd-scheduler__row:not(:last-of-type) {
  margin-bottom: $row-space-between;
}

.comd-scheduler__row > :not(:last-child) {
  margin-right: $input-space-between;
}

.comd-scheduler__row .comd-scheduler__row {
  margin-top: rem(8);
}

.comd-scheduler__wide-input {
  width: $wide-input-field-width;
}

.comd-scheduler__text-input {
  width: $narrow-input-field-width;
}
