@import '../../../../global-styles/src/configuration.scss';

@mixin secondary-style($color) {
  padding: rem(0) rem(8);
  background-color: transparent;

  &:hover,
  &:focus {
    background-color: $color;
  }

  &.comd-button--disabled {
    background-color: transparent;
  }
}

@mixin primary-style($color) {
  color: $comd-white-sc;
  padding: rem(0) rem(16);
  background-color: $color;

  &:hover,
  &:focus {
    background-color: darken($color, 5%);
  }

  &.comd-button--disabled {
    background-color: $Disabled;
  }
}

@mixin comd-button-base-styles {
  appearance: none; // Remove iPad etc. specific styling
  display: inline-flex;
  align-items: center;
  flex: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
  touch-action: manipulation;
  user-select: none;
  position: relative;
  padding: 0;
  font-size: comd-font-size('x-large');
  font-weight: comd-font-weight('semibold');
  line-height: 1;
  text-transform: uppercase;
  overflow: hidden;
  transition-property: background-color, fill, color;
  transition-duration: $comd-text-field-transition-duration;
  outline: none;

  // Firefox specific, need to remove it to get consistent look.
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  &:link,
  &:visited,
  &:hover,
  &:active {
    text-decoration: none;
  }
}
