@import '../../../global-styles/src/configuration.scss';

.comd-data-summary-item {
  display: flex;
  padding: rem(8);
}

.comd-data-summary-item__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: rem(8);
}
