@import '../../../global-styles/src/configuration.scss';

.comd-data-summary-label-value-wrapper {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
  justify-content: space-between;
  height: rem(48);
  min-width: 1px;
}

.comd-data-summary-label-value-wrapper--size-large {
  height: rem(68);
}

.comd-data-summary-label-value-wrapper__label {
  color: $TextSecondary;
  font-size: rem(14);
  display: flex;
  align-items: center;
}

.comd-data-summary-label-value-wrapper__label--size-large {
  font-size: rem(18);
}

.comd-data-summary-label-value-wrapper__label-icon {
  display: flex;
  margin-left: rem(8);
  flex-shrink: 0;
}

.comd-data-summary-label-value-wrapper__value {
  color: $TextPrimary;
  font-size: rem(24);
  font-weight: comd-font-weight('regular')
}

.comd-data-summary-label-value-wrapper__value--size-large {
  font-size: rem(34);
}
