@import '../../../global-styles/src/configuration.scss';

.comd-data-summary-link-item {
  display: flex;
  padding: rem(8);
}

.comd-data-summary-link-item:hover {
  background: $Background1;
}

.comd-data-summary-link-item__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: rem(8);
}

.comd-data-summary-link-item:hover .comd-data-summary-link-item__icon--default {
  fill: $TextPrimary;
}
