@import '../../../global-styles/src/configuration.scss';

.comd-data-summary-percentage-item {
  display: flex;
  padding: rem(8);
}

.comd-data-summary-percentage-item__percentage-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: rem(8);
  width: rem(48);
  height: rem(48);
}
