@import '../../../global-styles/src/configuration.scss';

$maxCircleValue: 113.12637329101562; // This is the length of the d attribute on the path of [data-test="percentage-circle-fill"]

.comd-data-summary-percentage-circle {
  animation: dataSummaryPercentageProgress $comd-text-field-transition-duration
    ease-out forwards;
}

@keyframes dataSummaryPercentageProgress {
  0% {
    stroke-dasharray: 0 $maxCircleValue;
  }
}

// stylelint-disable
// stylelint does not understand :export
:export {
  MaxCircleValue: $maxCircleValue;
}
