@import '../../../../../global-styles/src/configuration';
@import '../../../variables';

.comd-filter-box {
  .comd-filter-box__header {
    font: $comd-h3-v2;
    margin-bottom: rem(24);
  }

  .comd-filter-box__buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: rem(24);
  }
}
