@import '../../../global-styles/src/configuration';

.comd-filter-panel-header {
  background-color: $Background3;
  min-height: rem(48);
  padding: 0 rem(16);
  display: grid;
  grid-template-columns: auto 1fr auto;
  width: 100%;

  > * {
    align-self: center
  }
}
