@import '../../../global-styles/src/configuration';
@import '../variables';

.comd-filter-panel {
  height: 100%;
  border-top: $comd-border-v2;
  display: flex;
}

.comd-filter-panel__page {
  transition: width #{$EnterDuration}ms ease-in-out;
  width: 100%;
}

.comd-filter-panel__page--drawer-open {
  width: calc(100% - #{rem($PanelDrawerWidth)});
}

.comd-filter-panel__content {
  padding: rem(24);
}
