@import '../../../global-styles/src/configuration';

.comd-filter {
  border-bottom: $comd-border-v2;
  cursor: pointer;
  padding: rem(16);
  position: relative;
}

.comd-filter__icon {
  position: absolute;
  right: 0;
  margin-right: rem(16);
  display: flex;
  align-items: center;
  top: 0;
  bottom: 0;
}

.comd-filter__title {
  display: block;
  white-space: nowrap;
  font-size: comd-font-size('x-large');
}

.comd-filter__applied-filter {
  display: inline-block;
  margin-top: rem(get-map-value($Spacing, 'Small'));
  color: $TextSecondary;
}
