@import '../../../global-styles/src/configuration';
@import '../variables';

.comd-filter-panel-drawer {
  transition: width #{$EnterDuration}ms ease-in-out;
  width: 0;
  overflow: hidden;
  height: 100%;
  display: grid;
}

.comd-filter-panel-drawer--enter-active {
  width: rem($PanelDrawerWidth);
}

.comd-filter-panel-drawer--enter-done {
  overflow: visible;
  width: rem($PanelDrawerWidth);
}

.comd-filter-panel-drawer__content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.comd-filter-panel-drawer__body {
  height: 100%;
}

.comd-filter-panel-drawer__body-items {
  position: sticky;
  top: 0;
}

.comd-filter-panel-drawer__hide-list {
  display: none;
}
