@import '../../../global-styles/src/configuration';

.comd-filter-panel-drawer-footer {
  padding: rem(16);
  background-color: $ContrastLow;
  border-top: $comd-border-v2;
  display: flex;
  position: fixed; // for IE support
  position: sticky;
  bottom: 0;
  justify-content: flex-end;
}
