@import '../../../global-styles/src/configuration';

.comd-filter-panel-drawer-header {
  min-height: rem(48);
}

.comd-filter-panel-drawer-header__title {
  text-overflow: ellipsis;
  flex: 1 1 auto;
  text-align: center;
  margin: 0;
  font-size: rem(18);
}

.comd-filter-panel-drawer-header__back {
  left: 0;
  margin-left: rem(8);

  &--hide {
    visibility: hidden;
  }
}

.comd-filter-panel-drawer-header__close {
  right: 0;
  margin-right: rem(8);
}
