@import '../../../global-styles/src/configuration.scss';
@import './_variables';

.co-app-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  color: #fff;
  height: $app-header-height;
  width: 100%;
  background-color: $navbar-background;
  font-size: 12px;
  line-height: normal;
  box-sizing: border-box;
  position: relative;
  z-index: 1000; // Should be over dropdowns but under modal.

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
}

.co-app-header__logo {
  display: flex;
  align-self: center;
  margin: 0 rem(12);
  flex: none;
  align-items: center;
  line-height: 0;
}

.co-app-header__current-container {
  white-space: nowrap;
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  padding-left: rem(12);
  padding-right: rem(12);
  overflow: hidden;
}

.co-app-header__current-container-icon {
  display: flex;
  justify-content: center;
  flex: none;
  margin-right: #{map-get($Spacing, 'Small')}px;
}

.co-app-header__item {
  align-items: center;
  display: flex;
  flex: none;
  white-space: nowrap;
  border-left: 1px solid $navbar-link-divider;
}

.co-app-header__item--no-left-border {
  border-left: 0;
}

.co-app-header__item.co-app-header__item--global-navigation:last-of-type {
  border-right: 1px solid $navbar-link-divider;
}

.co-app-header__section {
  display: flex;
}

// make overflow: hidden on current-container take effect, and also reserve space for user-help menus
.co-app-header__section.co-app-header__section--main {
  max-width: calc(100% - 150px);
  position: sticky;
  left: 0;
}

.co-app-header__section.co-app-header__section--user-help {
  flex: none;
  position: sticky;
  right: 0;
}

.co-app-header__notifications-badge {
  display: flex;
}
