@import '../../../global-styles/src/configuration.scss';
@import './_variables';

.app-header-app {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: rem(12) rem(8);
  width: 130px;
  height: 140px;
  white-space: normal;
}

.app-header-app__text {
  margin-top: rem(8);
  text-align: center;
}

.app-header-app__text-inner {
  display: inline;
}

.app-header-app__link {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-direction: column;
  text-decoration: none;
  transition: color 100ms;
  color: #ccc;
  position: relative;

  &::after {
    opacity: 0;
    content: ' ';
    display: block;
    position: absolute;
    width: 100%;
    height: rem(2);
    background: currentColor;
    bottom: 0;
    left: 0;
    transform: translateY(10px);
    transition: opacity 300ms, transform 300ms;
  }

  &:hover {
    color: #fff;

    &::after {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.app-header-app--current .app-header-app__link {
  color: #fff;
  pointer-events: none;

  &::after {
    opacity: 1;
    transform: translateY(0);
  }
}

.app-header-app__app-icon {
  transition: filter 300ms, transform 300ms;
  filter: drop-shadow(0 0 0 transparent);
}

.app-header-app--current .app-header-app__app-icon,
.app-header-app__link:hover .app-header-app__app-icon {
  transform: scale(1.025);
  filter: drop-shadow(0 0 16px #000);
}

.app-header-app__external-link {
  margin-left: rem(4);
  vertical-align: middle;
  display: inline-flex;
}

.app-header-app__nbsp {
  font-size: 0;
}

.app-header-app__text-outer {
  display: inline-flex;
  align-items: center;
  height: 100%;
}
