@import '../../../global-styles/src/configuration.scss';
@import './_variables';

$navbar-selected-background: #24272b;

.co-recent-list {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  border-right: 1px solid $navbar-link-divider;
  overflow: auto;
}

.co-recent-list__main-link {
  color: #fff;
  display: flex;
  height: $app-header-height;
  align-items: center;
  padding: 0 rem(16);
  text-decoration: none;
  user-select: none;
}

.co-recent-list__main-link:hover {
  background-color: $navbar-selected-background;
}

.co-recent-list__dd::before {
  width: 1px;
  content: '';
  height: 60%;
  background: #474c51;
  margin: auto;
  display: inline-flex;
}
