@import '../../../global-styles/src/configuration.scss';

.comd-split-button {
  display: inline-flex;
}

.comd-split-button > [data-split-button-button] {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.comd-split-button > [data-split-button-button]::after {
  content: '';
  background: currentColor;
  bottom: 0;
  height: calc(100% - #{rem(16)});
  margin-bottom: auto;
  margin-top: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: rem(1);
}

.comd-split-button [data-split-button-toggle] {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-left: rem(8);
  padding-right: rem(8);
}

.comd-split-button .comd-split-button__icon {
  fill: currentColor;
}
