@import '../../../global-styles/src/configuration';
@import '../../../dialog/src/css/_mixin';

.comd-in-app-news__footer {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  min-height: 50px;
  width: 100%;
}

.comd-in-app-news__content-ingress {
  margin-bottom: 1.4em;
}

.comd-in-app-news__body {
  height: calc(70vh - 100px); // subtract some height for footer and header

  @include comd-responsive('large') {
    height: 100%;
  }

  @include comd-responsive-height('large') {
    height: 100%;
  }
}

.comd-in-app-news__title-date {
  display: flex;
  align-items: baseline;
}

.comd-in-app-news__title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.comd-in-app-news__date {
  margin-left: rem(8);
  font-size: 0.65em;
  font-weight: normal;
  flex: none;
}

.comd-in-app-news__body > [data-testid="inappnews-carousel"] {
  height: 100%;
}

.comd-in-app-news__close-btn {
  position: absolute;
  right: 0;
}
