@use "sass:math";
@import '../../../global-styles/src/configuration';

$counter-size: 24;
$spacing: 8;
$body-left-pad: math.div($counter-size, 2) + $spacing;

.comd-stepper-item {
  flex: none;
}

.comd-stepper-item--horizontal {
  display: flex;
  flex: 1 1 20%;
}

.comd-stepper-item__header {
  display: flex;
  align-items: center;
}

.comd-stepper-item__title-wrapper {
  display: flex;
  align-items: center;
}

.comd-stepper-item__title {
  text-transform: uppercase;
  font-size: comd-font-size('medium');
  font-weight: comd-font-weight('semibold');
  margin-left: rem($spacing);
  white-space: nowrap;
}

.comd-stepper-item__helper-text {
  margin-left: rem(4);
  display: flex;
  flex: none;
}

.comd-stepper-item__helper-icon {
  fill: $TextDisabled;
  margin-bottom: rem(2);
}

.comd-stepper-item__body {
  padding-left: rem($body-left-pad);
  padding-bottom: rem($spacing);
}

.comd-stepper-item__body--vertical {
  border-left: $comd-border-v2;
  margin: rem($spacing) rem($spacing) rem($spacing) rem(math.div($counter-size, 2));
}

.comd-stepper-item__body--horizontal {
  display: flex;
  flex: 1;
  border-bottom: $comd-border-v2;
  margin: 0 rem($spacing);
  height: 50%;
}

.comd-stepper-item:last-child .comd-stepper-item__body {
  border-left-color: transparent; // Keep border, but make it transparent to keep same alignment
}

.comd-stepper-item:last-child.comd-stepper-item--horizontal {
  flex: 0 0 auto; // force last horizontal item to only take its needed width
}

.comd-stepper-item:last-child.comd-stepper-item--horizontal .comd-stepper-item__body {
  display: none; // Remove last horizontal border completely
}
