@import '../../../global-styles/src/configuration.scss';

.comd-date-picker {
  position: relative;
  width: 100%;
}

.comd-date-picker__popover .comd-date-picker__popover-content {
  box-shadow: none;
}
