@import '../../../global-styles/src/configuration.scss';

.comd-drag-drop-columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.comd-drag-drop-columns__column {
  width: 44%;
  border: $comd-border-v2;
}

.comd-drag-drop-columns__droppable {
  overflow-x: hidden;
  overflow-y: auto;
  border-top: $comd-border-v2;
  padding: rem(7) 0 0 0;
}

.comd-drag-drop-columns__droppable--disabled {
  opacity: .6;
  user-select: none;
}

.comd-drag-drop-columns__loading-dots {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 350px;
}

.comd-drag-drop-columns__no-items {
  display: flex;
  flex-direction: column;
  color: $TextSecondary;
  align-items: center;
  padding-top: rem(12);
}

/* header */

.comd-drag-drop-columns__tab-header {
  display: flex;
  max-width: calc(100% - 17px);
}

.comd-drag-drop-columns__header-content {
  display: flex;
  flex: 1;
  min-width: 0;
  padding: 0;
}

.comd-drag-drop-columns__header-content--disabled {
  opacity: .6;
  user-select: none;
}

.comd-drag-drop-columns__header-cell {
  flex: 1;
  padding: rem(5) 0 0 rem(8);
  height: rem(30);
  line-height: 1.3rem;
}

/* row */

.comd-drag-drop-columns__draggable {
  display: flex;
  max-width: 100%;
}

.comd-drag-drop-columns__draggable--ghosting {
  opacity: .2;
}

.comd-drag-drop-columns__content {
  display: flex;
  flex: 1;
  min-width: 0;
  padding: 0 0;
  border-radius: rem(15);
  position: relative;
}

.comd-drag-drop-columns__draggable--active {
  filter: drop-shadow(rem(2) rem(5) rem(3) rgba(0, 0, 0, .2));
}

.comd-drag-drop-columns__draggable--active .comd-drag-drop-columns__content {
  background: $comd-grey-saturation-sc-pt3;
  vertical-align: middle;
}

.comd-drag-drop-columns__draggable:hover .comd-drag-drop-columns__content,
.comd-drag-drop-columns__draggable:active .comd-drag-drop-columns__content {
  background: $comd-grey-saturation-sc-pt3;
}

.comd-drag-drop-columns__droppable--disabled .comd-drag-drop-columns__draggable:hover .comd-drag-drop-columns__content,
.comd-drag-drop-columns__droppable--disabled .comd-drag-drop-columns__draggable:active .comd-drag-drop-columns__content {
  background: transparent;
}

.comd-drag-drop-columns__checkbox-cell {
  min-width: rem(34);
  height: rem(30);
  text-align: center;
  flex: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.comd-drag-drop-columns__checkbox-wrap {
  width: rem(25);
  display: inline-flex;
}

.comd-drag-drop-columns__content-cell {
  padding: rem(5) 0 0 rem(8);
  height: rem(30);
  line-height: 1.3rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  flex: 1;
  outline: 0;
}

.comd-drag-drop-columns__content-cell:focus {
  outline: 0;
}

.comd-drag-drop-columns__number-of-checked {
  position: absolute;
  color: $comd-white-sc;
  right: 0;
  top: rem(25);
  min-width: rem(20);
  height: rem(20);
  border-radius: rem(10);
  line-height: rem(16);
  font-size: rem(11);
  background: $comd-color-blue-saturation-sc-pt1;
  text-align: center;
  padding: rem(2) rem(2);
  z-index: 10;
}

.comd-drag-drop-columns__draggable--active .comd-drag-drop-columns__checkbox-wrap {
  display: none;
}

.comd-drag-drop-columns__middle-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10%;
}

.comd-drag-drop-columns__middle-menu-button {
  margin: rem(8) 0 0;
}

.comd-drag-drop-columns__middle-menu-button-label {
  color: $TextSecondary;
  padding-bottom: rem(8);
  cursor: pointer;

  &--disabled {
    color: $TextDisabled;
    cursor: default;
  }
}
