.comd-toggle-button-group__buttons {
  display: inline-flex;
  flex-wrap: wrap;
  margin-top: $toggle-border-offset;
  margin-left: $toggle-border-offset;
}

.comd-toggle-button-group__buttons--error .comd-toggle-button-grouped__label {
  border-color: $Danger;
}

.comd-toggle-button-group__label {
  color: $TextSecondary;
  font-size: comd-font-size('x-small');
  padding: 0 0 rem(4) 0;
}

.comd-toggle-button-group__label--error {
  color: $Danger;
}
