.comd-toggle-button-grouped {
  display: inline-flex;
  position: relative;
  margin-top: -#{$toggle-border-offset};
  margin-left: -#{$toggle-border-offset};
}

.comd-toggle-button-grouped__checkbox {
  height: rem(1);
  width: rem(1);
  border: none;
  opacity: 0;
  z-index: -1;
  position: absolute;
}

.comd-toggle-button-grouped__label {
  font-weight: comd-font-weight('regular');
  font-size: comd-font-size('x-large', 'rem');
  line-height: rem(20);
  padding: 0;
  color: $TextPrimary;
  border: 1px solid $Disabled;
  background: $comd-white-sc;
  min-height: rem(40);
  max-height: rem(40);
  user-select: none;
  transition: background-color $comd-text-field-transition-duration;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: rem(40);
  margin: 0;
  position: relative;
}

.comd-toggle-button-grouped__label:hover {
  cursor: pointer;
  background: $Background1;
}

.comd-toggle-button-grouped__label:not(.comd-toggle-button-grouped__label--disabled) {
  @include comd-click-ripple;
}

.comd-toggle-button-grouped--checked {
  // Put higher in the stack to ensure borders are overlapping unchecked items
  z-index: 1;
}

.comd-toggle-button-grouped__icon {
  margin-left: rem(12);
  fill: $TextSecondary;
  flex: none;
}

.comd-toggle-button-grouped__icon:last-child {
  margin-left: 0;
}

.comd-toggle-button-grouped__text {
  padding-right: rem(16);
  padding-left: rem(16);
  white-space: nowrap;
  flex: none;
}

.comd-toggle-button-grouped__icon + .comd-toggle-button-grouped__text {
  padding-left: rem(8);
}

.comd-toggle-button-grouped__label:hover .comd-toggle-button-grouped__icon {
  fill: $TextPrimary;
}

.comd-toggle-button-grouped__checkbox:focus + .comd-toggle-button-grouped__label {
  background: $Background1;
}

.comd-toggle-button-grouped__checkbox:disabled + .comd-toggle-button-grouped__label {
  color: $TextDisabled;
  background: $comd-white-sc;
  cursor: default;
}

.comd-toggle-button-grouped__checkbox:focus + .comd-toggle-button-grouped__label:hover {
  cursor: pointer;
  background: $Background1;
}

.comd-toggle-button-grouped__checkbox:focus + .comd-toggle-button-grouped__label .comd-toggle-button-grouped__icon {
  fill: $TextPrimary;
}

.comd-toggle-button-grouped__checkbox:disabled + .comd-toggle-button-grouped__label .comd-toggle-button-grouped__icon {
  fill: $Disabled;
}

.comd-toggle-button-grouped__checkbox:disabled:checked + .comd-toggle-button-grouped__label .comd-toggle-button-grouped__icon {
  fill: $Interactive;
}

.comd-toggle-button-grouped--checked .comd-toggle-button-grouped__checkbox:checked + .comd-toggle-button-grouped__label {
  color: $PrimaryAccent;
  background: $Interactive;
  border: 1px solid $PrimaryAccent;
}

.comd-toggle-button-grouped--checked .comd-toggle-button-grouped__checkbox:checked + .comd-toggle-button-grouped__label:hover,
.comd-toggle-button-grouped--checked .comd-toggle-button-grouped__checkbox:checked:focus + .comd-toggle-button-grouped__label {
  background: rgba($PrimaryAccent, .18);
}

.comd-toggle-button-grouped--checked .comd-toggle-button-grouped__checkbox:disabled:checked + .comd-toggle-button-grouped__label,
.comd-toggle-button-grouped--checked .comd-toggle-button-grouped__checkbox:disabled:checked + .comd-toggle-button-grouped__label:active {
  background: rgba($PrimaryAccent, .12);
  color: rgba($PrimaryAccent, .5);
  border-color: rgba($PrimaryAccent, .5);
}

.comd-toggle-button-grouped--checked .comd-toggle-button-grouped__checkbox:checked + .comd-toggle-button-grouped__label .comd-toggle-button-grouped__icon,
.comd-toggle-button-grouped--checked .comd-toggle-button-grouped__checkbox:checked:focus + .comd-toggle-button-grouped__label .comd-toggle-button-grouped__icon {
  fill: $PrimaryAccent;
}

.comd-toggle-button-grouped--checked .comd-toggle-button-grouped__checkbox:disabled:checked + .comd-toggle-button-grouped__label .comd-toggle-button-grouped__icon {
  fill: rgba($PrimaryAccent, .5);
}
