@import '../../../global-styles/src/configuration.scss';

$imageHeight: rem(110);
$imageWidth: rem(176);

.comd-jumbo-toggle-button {
  position: relative;
  overflow: hidden;
  width: rem(200);
  min-height: rem(200);
  background: transparent;
  border: $comd-border-v2;
  border-radius: rem(8);
  display: grid;
  grid-template-rows: $imageHeight rem(82);
  gap: rem(8);
  transition: background-color $comd-text-field-transition-duration;
  padding: rem(12);

  &:not(.comd-jumbo-toggle-button--disabled) {
    cursor: pointer;

    &:hover {
      background: $Background1;
      box-shadow: rgba(0, 0, 0, 0.24) 0 2px 4px, rgba(0, 0, 0, 0.12) 0 0 2px;
    }

    &.comd-jumbo-toggle-button--checked:hover {
      background: solid-color(rgba($PrimaryAccent, 0.18));
    }

    @include comd-click-ripple;
  }
}

.comd-jumbo-toggle-button--checked {
  background: solid-color(rgba($PrimaryAccent, 0.12));
  border: rem(1) solid $PrimaryAccent;
}

.comd-jumbo-toggle-button__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.comd-jumbo-toggle-button__graphic {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  height: $imageHeight;
}

.comd-jumbo-toggle-button__img {
  width: auto;
  height: $imageHeight;
  max-width: $imageWidth;
}

.comd-jumbo-toggle-button__icon {
  color: $TextSecondary;
}

.comd-jumbo-toggle-button__icon--checked {
  color: $PrimaryAccent;
}

.comd-jumbo-toggle-button:not(.comd-jumbo-toggle-button--checked)
  .comd-jumbo-toggle-button__icon {
  color: $TextSecondary;
}

.comd-jumbo-toggle-button:not(.comd-jumbo-toggle-button--disabled):hover
  .comd-jumbo-toggle-button__icon:not(.comd-jumbo-toggle-button__icon--checked) {
  color: $TextPrimary;
}

.comd-jumbo-toggle-button__text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: rem(8);
}

.comd-jumbo-toggle-button__text-content--checked {
  color: $PrimaryAccent;
}

.comd-jumbo-toggle-button__text {
  font: $comd-body-text;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  /* stylelint-disable value-no-vendor-prefix */
  /* stylelint-disable property-no-vendor-prefix */
  /* the only way to do multi-line truncation in css right now is the webkit way, which is also supported in Firefox 68+ */
  /* this should be very unlikely to occur, but added for edge cases */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  /* stylelint-enable value-no-vendor-prefix */
  /* stylelint-enable property-no-vendor-prefix */
}

.comd-jumbo-toggle-button__text--title {
  font: $comd-h3-v2;
  -webkit-line-clamp: 1;
}

.comd-jumbo-toggle-button__text-content--disabled,
.comd-jumbo-toggle-button__graphic--disabled {
  opacity: 0.5;
}
