@import '../../../global-styles/src/configuration';

// shift -1px to overlap when wrapping on several rows, and side by side to avoid double borders
// the container is shifted +1px to compensate so spacing around will still be the same
$toggle-border-offset: 1px;

@import 'toggle-button-grouped';
@import 'toggle-button-group';

.comd-toggle-button {
  display: inline-block;
  position: relative;
}

.comd-toggle-button__checkbox {
  height: rem(1);
  width: rem(1);
  border: none;
  opacity: 0;
  z-index: -1;
  position: absolute;
}

.comd-toggle-button__icon {
  transition: fill $comd-text-field-transition-duration;
  fill: $TextSecondary;
}

.comd-toggle-button__label {
  height: rem(40);
  max-height: rem(40);
  width: rem(40);
  max-width: rem(40);
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color $comd-text-field-transition-duration;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.comd-toggle-button__label:hover {
  cursor: pointer;
  background: $Background1;
}

.comd-toggle-button__label:not(.comd-toggle-button__label--disabled) {
  @include comd-click-ripple;
}

.comd-toggle-button__label:hover .comd-toggle-button__icon {
  fill: $TextPrimary;
}

.comd-toggle-button__checkbox:checked + .comd-toggle-button__label .comd-toggle-button__icon {
  fill: $PrimaryAccent;
}

.comd-toggle-button__checkbox:focus + .comd-toggle-button__label {
  background: $Background1;
}

.comd-toggle-button__checkbox:disabled + .comd-toggle-button__label {
  background: none;
  cursor: default;
}

.comd-toggle-button__checkbox:focus + .comd-toggle-button__label:hover {
  cursor: pointer;
  background: $Background1;
}

.comd-toggle-button__checkbox:focus + .comd-toggle-button__label .comd-toggle-button__icon {
  fill: $TextPrimary;
}

.comd-toggle-button__checkbox:disabled + .comd-toggle-button__label .comd-toggle-button__icon {
  fill: $Disabled;
}

.comd-toggle-button__checkbox:checked:focus + .comd-toggle-button__label .comd-toggle-button__icon {
  fill: $PrimaryAccent;
}

.comd-toggle-button__checkbox:disabled:checked + .comd-toggle-button__label .comd-toggle-button__icon {
  fill: rgba($PrimaryAccent, .5);
}

.comd-toggle-button__checkbox:checked + .comd-toggle-button__label .comd-toggle-button__favorite-icon,
.comd-toggle-button__checkbox:checked:focus + .comd-toggle-button__label .comd-toggle-button__favorite-icon {
  fill: $Highlight;
}

.comd-toggle-button__checkbox:disabled:checked + .comd-toggle-button__label .comd-toggle-button__favorite-icon {
  fill: rgba($Highlight, .5);
}
