@import '../../../../../../global-styles/src/configuration';

.comd-date-option-select {
  display: flex;
  align-items: center;
  gap: rem(8);
}

.comd-date-option-select__selector--week,
.comd-date-option-select__selector--year {
  width: rem(100);
}

.comd-date-option-select__selector--quarter {
  width: rem(80);
}

.comd-date-option-select__selector--month {
  width: rem(145);
}

.comd-date-option-select__value {
  display: flex;
  align-items: center;
  gap: rem(8);
}

.comd-date-option-select__inner {
  display: flex;
  align-items: center;
  gap: rem(8);
}
