@import '../../../global-styles/src/_configuration.scss';

$SnackbarAnimationTimeout: 150;

.comd-snackbar {
  pointer-events: none;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  justify-content: center;
  transition: opacity #{$SnackbarAnimationTimeout}ms ease-in-out;

  &--enter,
  &--appear {
    opacity: 0;
  }

  &--enter-active,
  &--appear-active {
    opacity: 1;
  }

  &--exit {
    opacity: 1;
  }

  &--exit-active {
    opacity: 0;
  }

  &__content {
    @include comd-responsive('medium', 'min') {
      margin-left: rem(24);
      margin-right: rem(24);
    }

    pointer-events: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    background: solid-color($TextPrimary);
    border-radius: rem(2);
    margin-bottom: rem(24);
    padding: rem(6) rem(8) rem(6) rem(16);
    min-width: rem(344);
    max-width: rem(800);

    box-shadow: 0 0 rem(6) 0 rgba(0, 0, 0, .12), 0 rem(6) rem(6) 0 rgba(0, 0, 0, .24);
  }

  &__message {
    margin: rem(10) rem(10) rem(10) 0;
    display: flex;
    align-items: center;
    color: $ContrastLow;
    font: $comd-body-text;
    line-height: rem(20);
    max-width: 70%;
  }

  &__action {
    margin-left: auto;
  }
}
