@import '../../../global-styles/src/configuration.scss';

$bottom-border-width: 2;
$l-r-padding: rem(24);
$top-bottom-padding: rem(14);

.comd-horizontal-scroll-wrapper {
  overflow: hidden;
  position: relative;
  padding: 0 $l-r-padding;
}

.comd-horizontal-scroll-wrapper__scroll-container {
  display: flex;
  align-items: center;
  overflow: hidden;
  scroll-behavior: smooth;
}

// Fallback if IntersectionObserver is not supported/polyfilled
.comd-horizontal-scroll-wrapper__scroll-container.comd-horizontal-scroll__scroll-container--no-intersectionobserver {
  overflow-x: auto;
}

.comd-horizontal-scroll-wrapper__io {
  width: rem(1);
  background: transparent;
  height: rem(1);
  flex: none;
}

.comd-horizontal-scroll-wrapper__io--last {
  margin-right: 1ch;
}

.comd-horizontal-scroll-wrapper__scroll-content {
  position: relative;
  white-space: nowrap;
  padding: 0 rem(1);
  display: flex;
}
