.comd-scroll-button__container {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 28%);
  position: absolute;
  height: 100%;
  width: rem(56);
  padding-left: rem(16);
  z-index: 2;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comd-scroll-button__container--left {
  left: 0;
}

.comd-scroll-button__container--right {
  right: 0;
}

.comd-scroll-button__scroll-icon-button {
  z-index: 3;
}
