.co-spinner {
  position: relative;
  stroke-width: 1;

  circle {
    fill: transparent;
    stroke: currentColor;
    stroke-width: inherit;
    stroke-linecap: round;
    stroke-dasharray: 14.653; //(3.14 * 14 / 3);

    @supports (position: sticky) {
      stroke-dasharray: 43.96; //(3.14 * 14);
      transform-origin: 7 7 0; // (.5px * 14) (.5px * 14) 0;
      animation: co-spinner-stroke 2200ms linear infinite;
    }
  }

  .co-spinner__spinner {
    display: block;
    animation: co-spinner-rotate 2200ms linear infinite;

    @supports (position: sticky) {
      animation: co-spinner-rotate-fancy 2200ms linear infinite;
    }
  }

  .co-spinner__success {
    fill: #60a82f;
  }

  .co-spinner__error {
    fill: #eb3d5a;
  }

  .co-spinner__success,
  .co-spinner__error {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 300ms ease-in-out;
    background: #fff;
    border-radius: 50%;
  }
}

.co-spinner.co-spinner--success,
.co-spinner.co-spinner--error {
  animation: none;

  circle {
    animation-play-state: paused;
  }

  .co-spinner__spinner {
    opacity: 0;
  }
}

.co-spinner.co-spinner--success .co-spinner__success,
.co-spinner.co-spinner--error .co-spinner__error {
  opacity: 1;
}


@keyframes co-spinner-stroke {
  0% {
    stroke-dashoffset: 9.24; //(.66 * 14px);
  }
  50% {
    stroke-dashoffset: 43.96; //(3.14 * 14px);
  }
  100% {
    stroke-dashoffset: 9.24; //(.66 * 14px);
  }
}

@keyframes co-spinner-rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(540deg);
  }
  100% {
    transform: rotate(1080deg);
  }
}

// // Different rotation speeds for fancy spinner, to avoid illusion of slowing down spinner
@keyframes co-spinner-rotate-fancy {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(720deg);
  }
  100% {
    transform: rotate(1080deg);
  }
}
