.confirmit-icons {
  margin: 0;
  padding: 40px 20px 20px;
  font-family: Arial, sans-serif;

  ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;

    li {
      margin: 1em;
    }

    li div {
      text-align: center;
      color: rebeccapurple;
      fill: currentColor;
    }

    [aria-label] {
      position: relative;
    }

    [aria-label]:hover::before {
      position: absolute;
      bottom: 100%;
      content: attr(aria-label);
      display: block;
      background: #444;
      border-radius: 5px;
      padding: .2em .4em;
      margin-bottom: 10px;
      color: #fff;
    }
  }

  .app-icon-list {
    list-style: none;

    li {
      margin-bottom: 30px;
    }
  }
}
