@import '../../../global-styles/src/configuration';

.comd-alert {
  color: $TextPrimary;
  border-left: rem(2) solid transparent;
  display: flex;
  align-items: center;
  padding: rem(16);
  width: 100%;
  font-weight: comd-font-weight('regular');
  font-size: comd-font-size('medium', 'rem');
}

.comd-alert__icon {
  display: flex;
  flex: none;
  align-items: center;
  margin-right: rem(8);
}

.comd-alert__actions-wrapper {
  flex: 1 0 auto;
  margin-left: rem(16);
  white-space: nowrap;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  // offset to not increase size of alert when IconButton or Button is present
  margin-top: rem(-8);
  margin-bottom: rem(-8);
}

.comd-alert--warning {
  border-left-color: $Warning;
  background-color: $WarningBackground;
}

.comd-alert--info {
  border-left-color: $PrimaryAccent;
  background-color: $Interactive;
}

.comd-alert--danger {
  border-left-color: $Danger;
  background-color: $DangerBackground;
}

.comd-alert--success {
  border-left-color: $Safe;
  background-color: $SafeBackground;
}

.comd-alert__text {
  width: 100%;
  word-break: break-word;
}

.comd-alert__dismiss-button {
  margin-left: rem(8);
}
