@import '../../../global-styles/src/configuration.scss';

.comd-link {
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-size: inherit;
}

.comd-link__content {
  text-decoration: inherit;
}

.comd-link__decorator {
  display: inline-flex;
  align-items: center;

  svg {
    fill: currentColor;
    width: 1em;
    height: 1em;
  }
}

.comd-link--default {
  color: $PrimaryAccent;

  &:hover,
  &:active,
  &:focus {
    text-decoration: underline;
  }

  &:active {
    opacity: 0.6;
  }

  &:visited {
    color: $SecondaryAccent;
  }
}

.comd-link--monochrome {
  color: inherit;
  text-decoration: underline;

  &:active,
  &:visited {
    opacity: 0.6;
  }
}

.comd-link--monochrome-table {
  color: inherit;
  font-weight: comd-font-weight('semibold');

  &:active,
  &:visited {
    opacity: 0.6;
  }
}
