@import '../../../../../global-styles/src/_configuration.scss';

.comd-react-select {
  // className needs to be defined, otherwise it won't appear in markup (block() returns empty),
  // but at the same time it should contain css that doesn't really do anything
  visibility: visible;
}

.comd-react-select__create-option {
  font-size: comd-font-size('x-small', 'px');
  color: $TextDisabled;
}

.comd-react-select__create-option--empty {
  font-style: italic;
}
