@import '../../../../../global-styles/src/configuration.scss';

.comd-dropzone {
  background: $ContrastLow;
  border: rem(2) dashed $TextDisabled;
  border-radius: rem(4);
  min-height: rem(64);
  padding: 0 rem(16);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.comd-dropzone__content {
  text-align: left;
}

.comd-dropzone--drag-active {
  background: $Interactive;
  border-color: $PrimaryAccent;
}

// allow pointer events to fall through content when dragging, to avoid children
// elements to interfere with dragging experience
.comd-dropzone--drag-active .comd-dropzone__content {
  pointer-events: none;
}

.comd-dropzone--file-selected {
  justify-content: flex-start;
  border-style: solid;
  font-weight: 600;
  font-size: rem(14);
}

.comd-dropzone--error {
  border-color: $Danger;
}

.comd-dropzone__selected-file {
  display: flex;
  align-items: center;
}

.comd-dropzone__filename {
  margin-left: rem(16);
}

.comd-dropzone__file-select {
  font-size: rem(18);
  text-align: center;
  color: $TextDisabled;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comd-dropzone__file-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.comd-dropzone__file-select-icon {
  margin-right: rem(8);
  display: flex;
  align-items: center;
}

.comd-dropzone__file-select-icon svg {
  fill: $TextDisabled;
}

.comd-dropzone__file-input-label-wrapper {
  margin-left: rem(4);
}

.comd-dropzone__text {
  display: flex;
  align-items: center;
}
