/* stylelint-disable number-leading-zero */
@import '../../../global-styles/src/_configuration.scss';
@import './variables.scss';

$label-position-x: 12;
$label-position-y: 11;
$border-radius-value: 4;
$border-radius: rem($border-radius-value);

.comd-input-wrapper {
  position: relative;
  border: 0;
  margin: 0;
  padding: 0;
  display: inline-flex;
  flex-direction: column;
  vertical-align: top;
  width: 100%;
}

.comd-input-wrapper.comd-input-wrapper--max600-min80 {
  max-width: rem(600);
  min-width: rem(80);
}

.comd-input-wrapper__label {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 0;
  pointer-events: none;
  font: $comd-navigation-text;
  color: $TextSecondary;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: calc(100% - #{rem(16)});
  transform-origin: top left;
  transform: translate(rem($label-position-x), rem($label-position-y)) scale(1);
  transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
    transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;

  &--active {
    color: $PrimaryAccent;
  }

  &--disabled {
    color: $TextDisabled;
  }

  &--readOnly {
    color: $TextSecondary;
    transform: translate(0, rem($label-position-y)) scale(1);
  }

  &--error {
    color: $Danger;
    animation: error-shake 0.5s linear;
  }

  &--shrink {
    max-width: calc(100% - #{rem(16)});
    transform: translate(rem($label-position-x), rem($label-position-y - 18))
      scale(0.75);
  }

  &--readOnly-shrink {
    transform: translate(0, rem($label-position-y - 18)) scale(0.75);
  }
}

.comd-input-wrapper__input-container {
  display: inline-flex;
  position: relative;
  min-height: #{rem($comd-internal-minimum-input-height)};;
  font-size: rem(16);
  align-items: center;
  color: var(--ds-color-base, $BaseColor);

  border-radius: $border-radius;
  border-top-left-radius: rem($border-radius-value * 2) $border-radius;
  border-top-right-radius: rem($border-radius-value * 2) $border-radius;

  // Need to use gradient background, because border takes up 1 px too little, making this background bleed through.
  // This looks odd when used on non-white backgrounds
  background: linear-gradient(
      180deg,
      transparent,
      transparent rem(1),
      var(--ds-color-base-contrast-low, $ContrastLow) rem(1),
      var(--ds-color-base-contrast-low, $ContrastLow)
  );
}

.comd-input-wrapper__input-container:not(.comd-input-wrapper__input-container--disabled) {
  cursor: text;
}

.comd-input-wrapper.comd-input-wrapper--transparent-background .comd-input-wrapper__input-container {
  background: transparent;
}

.comd-input-wrapper__border {
  position: absolute;
  bottom: 0;
  right: 0;
  top: rem(-4);
  left: 0;
  margin: 0;
  padding: 0 0 0 rem(5);
  pointer-events: none;
  border-radius: $border-radius;
  border-style: solid;
  border-width: rem(1);
  border-color: transparent;

  &--show-border {
    border-color: $TextDisabled;
  }

  &--active {
    border-color: $PrimaryAccent;
    border-width: rem(2);
  }

  &--disabled {
    border-style: dotted;
  }

  &--error {
    border-color: $Danger;
    border-width: rem(2);
  }

  &--readOnly {
    border: none;
  }
}

// Hover styling
// ONLY when not active, disabled or error
.comd-input-wrapper:hover {
  .comd-input-wrapper__border:not(.comd-input-wrapper__border--active):not(.comd-input-wrapper__border--disabled):not(.comd-input-wrapper__border--error) {
    border-color: $TextSecondary;
  }
}

.comd-input-wrapper__border-notch {
  width: auto;
  text-align: left;
  padding: 0;
  height: rem(11);
  font-size: rem(12);
  max-width: rem(0.01);
  visibility: hidden;
  transition: max-width 100ms cubic-bezier(0, 0, 0.2, 1) 0ms;

  &--active {
    max-width: calc(100% - #{rem(16)});
    transition: max-width 100ms cubic-bezier(0, 0, 0.2, 1) 50ms;
  }
}

.comd-input-wrapper__border-notch-text {
  padding-left: rem(5);
  padding-right: rem(4);
  display: inline-block;
}

.comd-input-wrapper__helper-text {
  font-size: rem(12);
  color: $TextSecondary;
  padding: rem(4) 0 0 rem(12);
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  &--disabled {
    color: $TextDisabled;
  }

  &--error {
    color: $Danger;
  }
}

.comd-input-wrapper__max-length {
  font-size: rem(12);
  padding: rem(4) 0 0 rem(12);
  margin-left: auto;
  color: $TextSecondary;
  text-align: right;
  white-space: nowrap;

  &--error {
    color: $Danger;
  }
}

.comd-input-wrapper__prefix-decorator {
  display: flex;
  align-items: center;
  padding: 0 rem(8) 0 rem(12);
  color: $TextSecondary;

  &--readOnly {
    padding: 0 rem(8) 0 0;
  }
}

.comd-input-wrapper__suffix-decorator {
  display: flex;
  align-items: center;
  padding: 0 rem(12) 0 rem(8);
  color: $TextSecondary;
}

// macOS error-shake: "error-shake 3 times each direction, with the first 2 going the full distance and the last 1 one the shortest distance."
@keyframes error-shake {
  8%,
  41% {
    left: rem(-10);
  }

  25%,
  58% {
    left: rem(10);
  }

  75% {
    left: rem(-5);
  }

  92% {
    left: rem(5);
  }

  0%,
  100% {
    left: 0;
  }
}
