@import '../../../../../global-styles/src/configuration';

.comd-date-option-input-field {
  display: flex;
  align-items: center;

  &__input {
    width: rem(80);
    margin-right: rem(8);
    margin-left: rem(8);
  }

  &__label-wrapper {
    display: flex;
    align-items: center;
  }

  &__label {
    cursor: pointer;
  }
}
