@import '../../../../../global-styles/src/configuration';

.comd-date-quick-filter-option {
  display: flex;
  align-items: center;
}


.comd-date-quick-filter-option--disabled {
  cursor: pointer;
  color: $TextDisabled;
}
