@import '../../../../../global-styles/src/_configuration.scss';
@import "../../../../node_modules/@jotunheim/react-input-wrapper/src/components/variables.scss";

$comd-text-area-top-margin: 10;

.comd-textarea {
  padding: 0 rem(12) rem(10);
  color: $TextPrimary;
  width: 100%;
  height: auto;
  min-height: calc(#{rem($comd-internal-minimum-input-height)} - #{rem($comd-text-area-top-margin)});
  border: 0;
  margin: #{rem($comd-text-area-top-margin)} 0 0 0;
  min-width: 0;
  background: none;
  font-size: rem(16);
  resize: none;

  &:focus {
    outline: 0;
  }

  &::placeholder {
    color: $TextDisabled;
  }

  &--align-left {
    text-align: left;
  }

  &--align-right {
    text-align: right;
  }

  &--disabled {
    color: $TextDisabled;
    pointer-events: none;
  }

  &--resizable {
    resize: vertical;
  }

  &--readOnly {
    padding: 0 0 rem(10);
  }
}
