@import '../../../global-styles/src/configuration.scss';

.comd-chip {
  display: inline-flex;
  flex-direction: column;
}

.comd-chip__chip {
  position: relative;
  overflow: hidden;
  color: $TextSecondary;
  border: none;
  cursor: default;
  height: rem(28);
  display: inline-flex;
  outline: 0;
  padding: 0;
  box-sizing: border-box;
  align-items: center;
  font: comd-font(
    comd-font-weight('semibold'),
    comd-font-size('medium', 'rem'),
    comd-line-height('large')
  );
  white-space: nowrap;
  border-radius: rem(16);
  vertical-align: middle;
  justify-content: center;
  text-decoration: none;
  min-width: rem(64);
  width: 100%;
  background: solid-color($BaseQuarternary);
  transition-property: background-color, fill, color;
  transition-duration: $comd-text-field-transition-duration;
}

.comd-chip--activated {
  background-color: $PrimaryAccent;
  color: $ContrastLow;
}

.comd-chip--clickable {
  cursor: pointer;
  @include comd-click-ripple;

  &:hover {
    background: solid-color($TextDisabled);
  }
}

.comd-chip--clickable.comd-chip--activated:hover {
  background-color: $SecondaryAccent;
}

.comd-chip--disabled {
  color: $TextDisabled;
}

.comd-chip--disabled .comd-chip__icon {
  background: $Disabled;
}

.comd-chip--error {
  background-color: $Danger;
  color: $ContrastLow;
}

// Drag of chip
.comd-chip--is-dragged {
  box-shadow: 0 2px 8px 0 rgba(18, 24, 33, 0.5);
}

@import 'css/icon';

@import 'css/label';

@import 'css/action-button';

@import 'css/actions';
