@use "sass:math";
@import '../../../global-styles/src/configuration';

$baseSize: rem(14);
$knobSize: rem(20);
$transitionDuration: 450ms;

@mixin toggle-knob {
  content: '';
  border: $comd-border-v2;
  filter: drop-shadow(0 1px 1px $TextSecondary);
  border-radius: 50%;
  height: $knobSize;
  width: $knobSize;
  transition: all $transitionDuration cubic-bezier(.23, 1, .32, 1) 0ms;
  top: rem(-4);
}

.comd-button-toggle {
  width: 100%; // all input component wrappers should have width set to 100% to allow them to fully expand to their container
  box-sizing: border-box;
  min-height: rem(24); // toggles should all be 24px sized, to align properly when displayed next to each other. This is the default size for checkbox/radio icons
  font-size: comd-font-size('medium');
  font-weight: comd-font-weight('regular');
  display: flex;
  align-items: center;
}

.comd-button-toggle__label {
  cursor: pointer; // better discoverability, cascades to toggle-element
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start; // can be changed to flex-end via override to allow for right-aligned containers
  align-items: center;
  color: $TextPrimary;
  margin-bottom: 0;
}

.comd-button-toggle__help-icon-wrapper {
  cursor: default;
  display: inline-flex;
  align-items: center;
}

.comd-button-toggle__toggle-text-label ~ .comd-button-toggle__help-icon-wrapper {
  margin-left: rem(4);
}

.comd-button-toggle__toggle-element {
  // this is the base for the toggle
  display: inline-block;
  position: relative;
  border-radius: math.div($baseSize, 2);
  height: $baseSize;
  width: 34px;
  flex: none;
  background: $TextDisabled;
  transition: all $transitionDuration cubic-bezier(.23, 1, .32, 1) 0ms;
  margin-top: rem(2);
  align-self: flex-start;

  // this is the handle of the toggle in OFF or UNCHECKED state
  &::after {
    @include toggle-knob;
    background: $ContrastLow;
    position: absolute;
    left: 0;
    // right: 16px;
  }
}

.comd-button-toggle__toggle-element:hover::after,
.comd-button-toggle__toggle-element:active::after,
.comd-button-toggle__checkbox:focus + .comd-button-toggle__label .comd-button-toggle__toggle-element::after { // this handles the keyboard navigation focus for the handle of the OFF toggle
  box-shadow: 0 0 0 rem(4) rgba($BaseColor, .16);
}

.comd-button-toggle__checkbox:checked + .comd-button-toggle__label .comd-button-toggle__toggle-element {
  background: rgba($Safe, .5); // this is the base for the toggle in ON or CHECKED state

  // this is the handle of the toggle in ON or CHECKED state
  &::after {
    @include toggle-knob;
    border-color: $Safe;
    background: $Safe;
    position: absolute;
    left: calc(100% - #{$knobSize});
  }
}

.comd-button-toggle__checkbox:checked + .comd-button-toggle__label .comd-button-toggle__toggle-element:hover::after,
.comd-button-toggle__checkbox:checked + .comd-button-toggle__label .comd-button-toggle__toggle-element:active::after,
.comd-button-toggle__checkbox:checked:focus + .comd-button-toggle__label .comd-button-toggle__toggle-element::after { // this handles the keyboard navigation focus for the handle of the ON toggle
  box-shadow: 0 0 0 rem(4) rgba($Safe, .16);
}

// this hides the checkbox but keeps it accessible for keyboard navigation
.comd-button-toggle__checkbox {
  opacity: 0;
  position: absolute;
  z-index: -1;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.comd-button-toggle.comd-button-toggle--disabled,
.comd-button-toggle[data-disabled] {

  &,
  &:hover,
  &:focus,
  &:active {
    opacity: .65;
    cursor: default;
    pointer-events: none;
  }
}

// Used to avoid the help icon wrapping to a newline by itself, since it just looks weird.
// By adding this, if there is not enough space and it needs to wrap to a new line, the word
// next to the help icon will also drop to the next line.
// To avoit it affecting layout, set font-size to 0
.comd-button-toggle__nbsp {
  font-size: 0;
}

.comd-button-toggle__label-help-wrapper {
  white-space: nowrap;
  margin-left: rem(8);
}

.comd-button-toggle.comd-button-toggle--left .comd-button-toggle__label-help-wrapper {
  margin-left: 0;
  margin-right: rem(8);
}

.comd-button-toggle__toggle-text-label {
  // override the whitespace wrap rules on the container, which is used to prevent help icon to wrap on a separate line by itself
  white-space: normal;
}
