@import '../../../global-styles/src/configuration.scss';
@import './css/mixins.scss';

.comd-button {
  min-height: rem(40);
  border-radius: rem(2);
  @include comd-button-base-styles;

  &:not(.comd-button--disabled) {
    @include comd-click-ripple;
  }
}

.comd-button--full-width {
  width: 100%;
  justify-content: center;
}

.comd-button--primary-success {
  @include primary-style($Safe);
}

.comd-button--primary-neutral {
  @include primary-style($PrimaryAccent);
}

.comd-button--primary-danger {
  @include primary-style($Danger);
}

.comd-button--secondary-success {
  @include secondary-style($Background1);
  color: $Safe;
}

.comd-button--secondary-neutral {
  @include secondary-style($Background1);
  color: $PrimaryAccent;
}

.comd-button--secondary-danger {
  @include secondary-style($Background1);
  color: $Danger;
}

.comd-button--secondary-banner {
  @include secondary-style(rgba($ContrastHigh, 0.05));
  color: $ContrastLow;

  &.comd-button--disabled {
    color: rgba($ContrastLow, 0.42);
  }
}

.comd-button--tertiary {
  background-color: transparent;
  text-transform: none;
  min-height: rem(18);
  padding: 0 rem(4);
  font: $comd-body-text;
  color: $PrimaryAccent;

  &:hover,
  &:focus {
    background-color: $Background1;
  }

  &.comd-button--disabled {
    background-color: transparent;
  }
}

.comd-button--disabled {
  color: $TextDisabled;
  cursor: default;
}

.comd-button__content {
  display: inline-flex;
  align-items: center;
  position: relative; //important for the effect on the ::before pseudo-class on the buttons not to cover the text
}

.comd-button__decorator {
  display: inline-flex;
  flex: none;

  svg {
    fill: currentColor;
    width: rem(16);
    height: rem(16);
  }
}

.comd-button__decorator--prefix {
  margin-right: rem(8);
}

.comd-button--tertiary .comd-button__decorator--prefix {
  margin-right: rem(4);
}

.comd-button__decorator--suffix {
  margin-left: rem(8);
}

.comd-button--tertiary .comd-button__decorator--suffix {
  margin-left: rem(4);
}
