@import '../../../global-styles/src/configuration';
@import 'css/mixins';

.comd-icon-button svg {
  transition: inherit;
}

.comd-icon-button {
  border-radius: 50%;
  justify-content: center;
  width: rem(40);
  height: rem(40);

  @include comd-button-base-styles;

  &:not(.comd-icon-button--disabled) {
    &:hover,
    &:focus {
      background-color: $Background1;
    }
  }

  &:not(.comd-icon-button--disabled):not(.comd-icon-button--small) {
    @include comd-click-ripple;
  }
}

.comd-icon-button--banner svg {
  fill: rgba($ContrastLow, .87);
}

.comd-icon-button--banner:not(.comd-icon-button--disabled) {
  &:hover svg,
  &:focus svg,
  &:active svg {
    fill: $ContrastLow;
  }
}

.comd-icon-button--default:not(.comd-icon-button--disabled) {
  &:hover svg,
  &:focus svg,
  &:active svg {
    fill: $TextPrimary;
  }
}

.comd-icon-button--disabled {
  color: $Disabled;
  cursor: default;

  // stylelint-disable
  // Disabled style should override icon colors
  svg {
    fill: $Disabled !important;
  }
  // stylelint-enable
}

.comd-icon-button--small {
  border-radius: 0;
  width: rem(20);
  height: rem(20);

  // stylelint-disable
  // Small style for svg doesn't override other local svg styles
  & svg {
    width: rem(20);
    height: rem(20);
  }
  // stylelint-enable
}

.comd-icon-button--small:not(.comd-icon-button--disabled) {
  &:hover,
  &:focus,
  &:active {
    background-color: transparent;
  }
}
