@import '../../../global-styles/src/configuration.scss';

$imageHeight: rem(110);
$imageWidth: rem(176);

.comd-jumbo-button {
  position: relative;
  overflow: hidden;
  width: rem(200);
  min-height: rem(200);
  background: transparent;
  border: none;
  border-radius: rem(8);
  display: grid;
  grid-template-rows: $imageHeight rem(82);
  gap: rem(8);
  transition: background-color $comd-text-field-transition-duration;
  padding: rem(12);
  text-decoration: none;
  color: $TextPrimary;
  cursor: default;

  &:not(.comd-jumbo-button--disabled) {
    cursor: pointer;

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.24) 0 2px 4px, rgba(0, 0, 0, 0.12) 0 0 2px;
    }

    @include comd-click-ripple;
  }
}

.comd-jumbo-button__graphic {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  max-width: rem(198);
}

.comd-jumbo-button__img {
  width: auto;
  height: $imageHeight;
  max-width: $imageWidth;
}

.comd-jumbo-button__icon {
  color: $TextSecondary;
}

.comd-jumbo-button__text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: rem(8);
}

.comd-jumbo-button__text {
  font: $comd-body-text;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  /* stylelint-disable value-no-vendor-prefix */
  /* stylelint-disable property-no-vendor-prefix */
  /* the only way to do multi-line truncation in css right now is the webkit way, which is also supported in Firefox 68+ */
  /* this should be very unlikely to occur, but added for edge cases */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  /* stylelint-enable value-no-vendor-prefix */
  /* stylelint-enable property-no-vendor-prefix */
}

.comd-jumbo-button__text--title {
  font: $comd-h3-v2;
  -webkit-line-clamp: 1;
}

.comd-jumbo-button__text-content--disabled,
.comd-jumbo-button__graphic--disabled {
  opacity: 0.5;
}
