@import '../../../global-styles/src/configuration.scss';

.comd-sidebar {
  height: 100%;
  display: flex;
}

.comd-sidebar__items {
  background-color: $Background3;
  border-right: $comd-border-v2;
  min-width: rem(56);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comd-sidebar__item {
  flex: none;
  border-radius: 50%;
  margin-top: rem(8);
  margin-bottom: rem(8);
}

.comd-sidebar__item--active {
  background-color: $Background1;
}

.comd-sidebar__item--active svg {
  fill: $PrimaryAccent;
}

.comd-sidebar__divider {
  flex: none;
  width: calc(100% - #{rem(10)});
  border-top: $comd-border-v2;
  border-bottom: rem(1) solid $ContrastLow;
}
