@import '../../../global-styles/src/configuration';

.comd-copy-to-clipboard {
  display: inline-flex;
  align-items: center;
  max-width: 100%;
  font-size: inherit;
}

.comd-copy-to-clipboard__button {
  overflow: hidden;
  border: none;
  background-color: transparent;
  padding: 0;
  outline: none;
  font-size: inherit;
  white-space: nowrap;
  flex: none;
}

.comd-copy-to-clipboard__button--default {
  color: $PrimaryAccent;

  &:hover,
  &:active,
  &:focus {
    text-decoration: underline;
  }
}

.comd-copy-to-clipboard__button--default-copied {
  color: $Safe;
}

.comd-copy-to-clipboard__button--monochrome {
  color: inherit;
  text-decoration: underline;
}

.comd-copy-to-clipboard__button--monochrome-copied {
  text-decoration: none;
}

.comd-copy-to-clipboard__value {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: rem(8);
}

.comd-copy-to-clipboard__button-content {
  display: inline-flex;
  align-items: center;
}

.comd-copy-to-clipboard__decorator {
  display: inline-flex;

  svg {
    fill: currentColor;
    width: 1em;
    height: 1em;
  }
}
