@import '../../../../../global-styles/src/configuration';

.comd-filter-pills {
  display: flex;
  padding-bottom: rem(8);

  .comd-filter-pills__pill {
    padding-top: rem(4);
    margin-right: rem(4);
  }

  .comd-filter-pills__text {
    max-width: rem(400);
  }
}
