@import '../../../global-styles/src/_configuration.scss';

.comd-checkmark {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.comd-checkmark .comd-checkmark__icon {
  background-repeat: no-repeat;
  flex: none;
  display: inline-flex;
}

.comd-checkmark .comd-checkmark__text {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

.comd-checkmark .comd-checkmark__icon + .comd-checkmark__text,
.comd-checkmark .comd-checkmark__text + .comd-checkmark__icon {
  margin-left: rem(8);
}
