.comd-dd-menu {
  @include comd-small-boxes-shadow;
  background: $ContrastLow;
  border-radius: $comd-dd-menu-border-radius;
  font-size: comd-font-size('medium');
  list-style: none;
  margin: 0;
  padding: $comd-dd-menu-padding 0;
  z-index: 9999;
  white-space: nowrap;
  max-height: 50vh;
  overflow: auto;
}

.comd-dd-menu__item {
  color: inherit;
  padding: $comd-dd-menu__item-padding-t-b $comd-dd-menu__item-padding-l-r;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.comd-dd-menu__text {
  display: block;
}

.comd-dd-menu__submenu-wrapper,
.comd-dd-menu__custom-item {
  padding: $comd-dd-menu__item-padding-t-b $comd-dd-menu__item-padding-l-r;
  display: flex;
  align-items: center;
}

.comd-dd-menu__custom-item--hover {
  cursor: pointer;
}

.comd-dd-menu__selected-icon {
  visibility: hidden;
  margin-right: rem(8);
}

.comd-dd-menu__item.comd-dd-menu__item--selected .comd-dd-menu__selected-icon,
.comd-dd-menu__custom-item.comd-dd-menu__custom-item--selected .comd-dd-menu__selected-icon {
  visibility: visible;
}

.comd-dd-menu__item-icon {
  display: flex;
  margin-right: rem(8);
}

.comd-dd-menu__divider {
  background: $Disabled;
  height: 1px;
  margin: rem(8) 0;
  padding: 0;
  pointer-events: none;
}

.comd-dd-menu__header {
  display: block;
  padding: $comd-dd-menu__item-padding-t-b $comd-dd-menu__item-padding-l-r;
  font-weight: 600;
  font-size: comd-font-size('medium');
  color: $TextPrimary;
}

.comd-dd-menu__li {
  break-inside: avoid;
}

.comd-dd-menu__item:hover,
.comd-dd-menu__submenu-wrapper:hover,
.comd-dd-menu__custom-item--hover:hover,
.comd-dd-menu__item:focus {
  background-color: $comd-grey-saturation-sc-pt1-op6;
  color: inherit;
  outline: none;
  cursor: pointer;
}

.comd-dd-menu__li--disabled {
  cursor: default;
  opacity: 0.5;
}

.comd-dd-menu__li--disabled .comd-dd-menu__item,
.comd-dd-menu__li--disabled .comd-dd-menu__custom-item--hover {
  cursor: default;
  background-color: transparent;
}

.comd-dd-menu__li > .comd-dd {
  width: 100%;
  > .comd-dd-menu__submenu-wrapper {
    width: 100%;
  }
}
