@import '../../../../global-styles/src/configuration';
@import 'variables';
@import 'dropdown-menu';

.comd-dd {
  display: inline-flex;
  box-sizing: border-box;

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
}

.comd-dd-menu {
  box-sizing: border-box;

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
}

.comd-dd .comd-dd__toggle {
  display: inline-flex;
  white-space: nowrap;
  flex-wrap: nowrap;
  align-items: center;
  fill: currentColor; // set fill to currentColor for svg icons within the toggle

  &::after {
    // get correct height, even if no text content is added
    width: 0;
    content: '\0000a0';
    display: block;
  }
}
