@import '../../../global-styles/src/configuration';

.comd-toggle {
  position: relative;
  display: inline-flex;
}

.comd-toggle__input {
  border: none;
  height: 1px;
  margin: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  width: 1px;
  z-index: -1;
}

.comd-toggle__text {
  font-size: comd-font-size('medium');
  font-weight: comd-font-weight('regular');
  color: $TextPrimary;
  cursor: pointer;
  // override the whitespace wrap rules on the container, which is used to prevent help icon to wrap on a separate line by itself
  white-space: normal;
}

.comd-toggle__icon {
  align-items: center;
  display: flex;
  cursor: pointer;

  &--align-start {
    align-self: flex-start;
  }

  &--align-center {
    align-self: center;
  }

  &--align-end {
    align-self: flex-end;
  }
}

.comd-toggle__icon--filled svg {
  fill: $Safe;
}

.comd-toggle--disabled {
  .comd-toggle__icon {
    cursor: default;

    svg {
      fill: $TextDisabled;
    }
  }

  .comd-toggle__icon--filled svg {
    fill: solid-color(rgba($Safe, 0.38));
  }

  .comd-toggle__text {
    cursor: default;
    color: $TextDisabled;
  }
}

.comd-toggle--full-width {
  width: 100%;
}

.comd-toggle__label-help-wrapper {
  white-space: nowrap;
  margin-left: rem(8);
  padding-top: rem(2);
  min-width: 0;
}
.comd-toggle__input:focus ~ .comd-toggle__icon svg {
  fill: $Safe;
}

// Used to avoid the help icon wrapping to a newline by itself, since it just looks weird.
// By adding this, if there is not enough space and it needs to wrap to a new line, the word
// next to the help icon will also drop to the next line.
// To avoit it affecting layout, set font-size to 0
.comd-toggle__nbsp {
  font-size: 0;
}

.comd-toggle.comd-toggle--left .comd-toggle__label-help-wrapper {
  margin-left: 0;
  margin-right: rem(8);
}

.comd-toggle__help-icon-wrapper {
  display: inline-flex;
  align-items: center;
}

.comd-toggle__text ~ .comd-toggle__help-icon-wrapper {
  margin-left: rem(4);
}
