@import '../../../global-styles/src/configuration.scss';

@mixin tag-style($color) {
  color: $ContrastLow;
  background-color: $color;
}

@mixin comd-tag-base-styles {
  display: inline-flex;
  align-items: center;
  padding: 0 rem(8);
}

@mixin comd-tag-default-style {
  color: $TextSecondary;
  background-color: $Disabled;
}
