@import '../../../global-styles/src/configuration.scss';
@import './mixins.scss';

$height: 24;
$borderRadius: 12;
$documentHeight: 16;
$documentBorderRadius: 8;
$thumbnailBackground: $ContrastLow;
$thumbnailPadding: 2;
$thumbnailTextGap: 4;
$thumbnailHeight: $height - 2 * $thumbnailPadding;
$thumbnailWidth: $thumbnailHeight;

.comd-tag {
  @include comd-tag-base-styles;
}

.comd-tag--default-tag {
  height: rem($height);
  border-radius: rem($borderRadius);

  font: comd-font(
      comd-font-weight('semibold'),
      comd-font-size('x-small', 'rem'),
      comd-line-height('x-small')
  );
}

.comd-tag--document-tag {
  height: rem($documentHeight);
  border-radius: rem($documentBorderRadius);
  text-transform: uppercase;

  font: comd-font(
      comd-font-weight('semibold'),
      comd-font-size('xxx-small', 'rem'),
      comd-line-height('xx-small')
  );
}

.comd-tag--icon {
  padding-left: rem($thumbnailPadding);
}

.comd-tag--default {
  @include comd-tag-default-style;
}

.comd-tag--primary {
  @include tag-style($PrimaryAccent);
}

.comd-tag--danger {
  @include tag-style($Danger);
}

.comd-tag--safe {
  @include tag-style($Safe);
}

.comd-tag--warning {
  @include tag-style($Warning);
}

.comd-tag--promoter,
.comd-tag--passive,
.comd-tag--detractor {
  color: $TextSecondary;
}

.comd-tag--promoter {
  background-color: $SafeBackground;
}

.comd-tag--passive {
  background-color: $PassiveBackground;
}

.comd-tag--detractor {
  background-color: $DangerBackground;
}

.comd-tag__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem($thumbnailWidth);
  height: rem($thumbnailHeight);
  background-color: $thumbnailBackground;
  border-radius: 50%;
  margin-right: rem($thumbnailTextGap);
}
