@import '../../../global-styles/src/_configuration.scss';


.comd-color-picker {
  position: relative;
  width: 100%;
  min-width: 150px;
}

.comd-color-picker__input-wrapper {
  display: flex;
}

.comd-color-picker__colorpicker-trigger {
  flex: none;
  outline: none;
  border: none;
  padding: 0;
  align-self: center;
  height: 20px;
  pointer-events: none;
  background: transparent;
}

.comd-color-picker__colorpicker-trigger--colorpicker-supported:not([disabled]) {
  cursor: pointer;
  pointer-events: auto;
}

.comd-color-picker__selected-color {
  height: 20px;
  width: 20px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .5);
  border-radius: 100%;
}

/* stylelint-disable declaration-no-important */
/* this should never be displayed, so !important is OK here */
.comd-color-picker__colorpicker {
  z-index: -1000 !important;
  position: absolute !important;
  bottom: 0 !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: 0 !important;
  border: none !important;
  opacity: 0 !important;
}
/* stylelint-enable */
