
// These color names are deprecated. Please use the new colornames instead.
$comd-grey-saturation-sc-pt1: $BaseColor;
$comd-grey-saturation-sc-pt3: $Background2;
$comd-grey-saturation-sc-pt4: $ChartNeutral;
$comd-grey-saturation-sc-pt5: $Background3;
$comd-grey-saturation-sc-pt6: $Background3;
$comd-grey-saturation-sc-pt7: $Background3;
$comd-grey-saturation-sc-pt8: $Disabled;

$comd-grey-saturation-sc-pt1-op1: $TextPrimary;
$comd-grey-saturation-sc-pt1-op2: $TextSecondary;
$comd-grey-saturation-sc-pt1-op3: $TextDisabled;
$comd-grey-saturation-sc-pt1-op4: $Disabled;
$comd-grey-saturation-sc-pt1-op5: $Background1;
$comd-grey-saturation-sc-pt1-op6: $Background1;
$comd-grey-saturation-sc-pt1-op7: $Background1;

$comd-black-sc-op1: $TextPrimary;
$comd-black-sc-op2: $TextSecondary;
$comd-black-sc-op3: $TextDisabled;

$comd-color-blue-saturation-sc-pt1: $PrimaryAccent;
$comd-color-blue-saturation-sc-pt2: $PrimaryAccent;
$comd-color-blue-saturation-sc-pt3: $PrimaryAccent;
$comd-color-blue-saturation-sc-pt4: $Disabled;
$comd-color-blue-saturation-sc-pt5: $Interactive;
$comd-color-blue-saturation-sc-pt6: $Interactive;

$comd-color-green-saturation-sc-pt1: $Safe;
$comd-color-green-saturation-sc-pt2: $Safe;

$comd-color-light-sc-pt1: $SafeBackground;
$comd-color-light-sc-pt2: $WarningBackground;
$comd-color-light-sc-pt3: $DangerBackground;

$comd-color-warning: $Warning;
$comd-color-error: $Danger;
$comd-color-danger: $Danger;

$comd-black-sc: $ContrastHigh;
$comd-white-sc: $ContrastLow;

/// rgb(190, 197, 204)
/// * borders (the border of the large tooltip),
/// * for active state of the scroll bars,
/// * for the right border of the filter panels
/// DEPRECATED. dont have a new color for this - need to investigate if we still need this variant.
$comd-grey-saturation-sc-pt2: #bec5cc;

/// rgba(18, 24, 33, .3)
/// *  background of overlay
/// DEPRECATED. dont have a new color for this - need to investigate if we still need this variant.
$comd-grey-saturation-sc-pt1-op8: rgba($comd-grey-saturation-sc-pt1, .3);


// ----------------------------------
//  opacity variations of the white
// ----------------------------------
/// @type Color
$comd-white-sc-op1: rgba($comd-white-sc, .7);

/// @type Color
$comd-white-sc-op2: rgba($comd-white-sc, .45);

/// @type Color
$comd-white-sc-op3: rgba($comd-white-sc, .2);

// ----------------------------------
// Widget colors
// ----------------------------------

/// rgb(35, 200, 19)
///
/// <span style="text-decoration: underline;">Used for/in:</span>
///
/// * kpi widget for positive (over target) results
///
/// @type Color
$comd-color-high-intensity-sc-pt1: #23c813;

/// rgb(255, 214, 0)
///
/// <span style="text-decoration: underline;">Used for/in:</span>
///
/// * favorite star icon
///
/// @type Color
$comd-color-high-intensity-sc-pt3: #ffd600;

/// rgb(255, 171, 0)
///
/// <span style="text-decoration: underline;">Used for/in:</span>
///
/// * kpi widget for neutral impact results
///
/// @type Color
$comd-color-high-intensity-sc-pt4: #ffab00;

/// rgb(255, 109, 0)
///
/// <span style="text-decoration: underline;">Used for/in:</span>
///
/// * response rate chart
///
/// * passive numbers (NPS)
/// @type Color
$comd-color-high-intensity-sc-pt5: #ff6d00;

/// rgb(255, 109, 0)
///
/// <span style="text-decoration: underline;">Used for/in:</span>
///
/// * detractors numbers (NPS)
/// @type Color
$comd-color-high-intensity-sc-pt7: #d40000;

/// rgb(130, 216, 84)
///
/// <span style="text-decoration: underline;">Used for/in:</span>
///
/// * most of the charts for postive results
/// @type Color
$comd-color-low-intensity-sc-pt1: #82d854;

/// rgb(255, 203, 98)
///
/// <span style="text-decoration: underline;">Used for/in:</span>
///
/// * most of the charts for positive results
/// @type Color
$comd-color-low-intensity-sc-pt3: #ffcb62;

/// rgb(255, 152, 110)
///
/// <span style="text-decoration: underline;">Used for/in:</span>
///
/// * text displaying filter choices in the filter list
/// @type Color
$comd-color-low-intensity-sc-pt4: #ff986e;

/// rgb(250, 82, 99)
///
/// <span style="text-decoration: underline;">Used for/in:</span>
///
/// * labels like high risk
///
/// * position of the employee on the account details page
///
/// * most of the charts for neutral results (risk assessment, breakdown by role, accounts, metrics, response rate, health check, LTR, OSAT)
///
/// * kpi widget for neutral results
/// @type Color
$comd-color-low-intensity-sc-p5: #fa5263;

/// rgb(253, 224, 234)
///
/// <span style="text-decoration: underline;">Used for/in:</span>
///
/// * background of error chips and alerts
/// @type Color
$comd-color-low-intensity-sc-p6: #fde0ea;


// ----------------------------------
// Design system colors
// ----------------------------------

/// @type Color
$comd-color-heatmap-high-pt1: #23c812;
/// @type Color
$comd-color-heatmap-high-pt2: #64dd17;
/// @type Color
$comd-color-heatmap-high-pt3: #ffd500;
/// @type Color
$comd-color-heatmap-high-pt4: #ffab00;
/// @type Color
$comd-color-heatmap-high-pt5: #ff6d00;
/// @type Color
$comd-color-heatmap-high-pt6: #ff3d00;
/// @type Color
$comd-color-heatmap-high-pt7: #d40001;

/// @type Color
$comd-color-heatmap-low-pt1: #82d854;
/// @type Color
$comd-color-heatmap-low-pt2: #ffea79;
/// @type Color
$comd-color-heatmap-low-pt3: #ffcb61;
/// @type Color
$comd-color-heatmap-low-pt4: #ff986d;
/// @type Color
$comd-color-heatmap-low-pt5: #fa5263;
