@import '_opacities';

$BaseColor: #121821;

/* Hover of deactivated chips */
$BaseQuarternary: rgba($BaseColor, $quaternaryOpacity);

/* Primary Text, Primary Neutral Button, Hover/Active Icon Button
Example Uses:
        Text in the filter panel
        Numbers in widgets
        Widget title
        Table text
        Navigation text color
        Text of the drop-downs
        Headers and titles */
$TextPrimary: rgba($BaseColor, $primaryOpacity);

/* Secondary Text, Default Icon Button
Example Uses:
        Small tool tips background
        Table header text
        Light grey text in the widgets (chart text in the Response Rate widget; item date in the Recent Responses; text of KPI widget; Account value in Key Accounts widget)
        Filter choices displayed in vertical filter panel
        Dates */
$TextSecondary: rgba($BaseColor, $secondaryOpacity);;

/* Disabled Text, Background of Overlay */
$TextDisabled: rgba($BaseColor, $tertiaryOpacity);;

/* ------------------ */

/* Divider Lines, Chips, Disabled Buttons, Disabled Icon Button */
$Disabled: rgba($BaseColor, $quinaryOpacity);;

/* Icon Hover Circle, Hover Background for Items in Menus and Table Rows, Search Field, Background of Accounts Summary Cards */
$Background1: rgba($BaseColor, $altOpacity);;

/* Screen Background, Lines Between Header Bars */
$Background2: #e1e4e9;

/* Report SideBar */
$Background3: #f0f2f5;

/* Secondary Buttons, Links, Tab Underlines, Selected Tree, Chart Elements */
$PrimaryAccent: #007db8;

/* Dark accent blue (hover for chips, tags, buttons) */
$SecondaryAccent: #265a8f;

/* Drag and Drop Indicator, Informational Alert BG, Selected Menu Item */
$Interactive: #cceeff;

/* Primary Safe Button, Success Banner, Active State of Check Boxes and Radio Buttons */
$Safe: #39a739;

/* Success Alert BG */
$SafeBackground: #e8f8e0;

/* Passive Text Analytics background */
$PassiveBackground: #ffeed6;

/* Warning Banner Background */
$Warning: #ff5e1f;

/* Warning Alert BG */
$WarningBackground: #ffeae1;

/* Primary Danger Buttons (i.e. Delete), Errors, Background of Error Panels, High Risk Label */
$Danger: #eb0052;

/* Background of Error Chips and Alerts */
$DangerBackground: #fedfe2;

/* Favorites Icon Selected & Search Results Character Matches */
$Highlight: #ffd600;

$ChartNeutral: #e1e8ee;

/* useful for creating gradients etc.
 * in a dark theme, these values should be flipped
*/
$ContrastHigh: #000000;
$ContrastLow: #ffffff;

/*
 * Fully transparent, useful for creating gradients
*/
$Transparent: rgba($ContrastLow, $zeroOpacity);

/**
 * Product colors
 * Used in App icons amongst other things
 * These are unlikely to be changed depending on dark/light theme colors
 * Some of these colors have the similar name, but only the number differentiates them,
 * f.ex $Product04TurquoiseDark and $Product05TurquoiseDark. This is intentional.
*/

$Product01GreenDark: #008473;
$Product02Green: #009584;
$Product03GreenLight: #22bba5;
$Product04TurquoiseDark: #00708e;
$Product05TurquoiseDark: #007fab;
$Product06Turquoise: #00bae0;
$Product07PurpleDark: #425083;
$Product08PurpleDark: #4e5da4;
$Product09Purple: #8261e6;
$Product10Purple: #7497ea;
$Product11OrangeDark: #d34e0a;
$Product12OrangeDark: #dd6f00;
$Product13Orange: #ff6f00;
$Product14Orange: #ff9e00;
$Product15YellowDark: #ab7935;
$Product16YellowDark: #c88e37;
$Product17Yellow: #ffb84c;
