@import 'color-palette';
@import '../functions';

////
/// @group Various
/// @since 1.0
////

/// Border version 1
/// <p style="text-decoration: underline;">Used for/in:</p>
/// <ul><li>filter panels</li><li>large tooltips</li></ul>
$comd-border-v1: comd-to-relative-unit(1, rem) solid
  $comd-grey-saturation-sc-pt2;

/// Border version 2
/// <p style="text-decoration: underline;">Used for/in:</p>
/// <ul><li>in between rows and list elements</li></ul>
$comd-border-v2: comd-to-relative-unit(1, rem) solid
  $comd-grey-saturation-sc-pt1-op4;

/// Transition styles for text-field
/// <p style="text-decoration: underline;">Used for/in:</p>
/// <ul><li>Text-field transitions, Multiline-text-field, and Text-area</li></ul>
$comd-text-field-transition-duration: 200ms;
$comd-text-field-transition-timing: ease-in;
$comd-text-field-transition: $comd-text-field-transition-duration $comd-text-field-transition-timing;



// browsers usually have 16-17px width, but add a few px just in case.
$comd-scrollbar-width-estimate: 20;
