@import '../../../global-styles/src/configuration';
@import '../variables';

// This ensures that even if the container around Table does not have an explicit height set,
// The table wont collapse entirely when the empty state message is displayed.
.comd-table-empty-state {
  height: 200px;
}

.comd-table-empty-state__wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
