@import '../../../global-styles/src/configuration';
@import '../variables';

.comd-table-toolbar-dropdown__dropdown-toggle {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.comd-table-toolbar-dropdown__dropdown-toggle-button {
  margin-left: rem(4);
}
