@import '../../../global-styles/src/configuration';
@import '../variables';

.comd-table-toolbar {
  display: flex;
  justify-content: space-between;
  min-height: $toolbar-height;

  &--mobile {
    min-height: $mobile-toolbar-height;
    overflow-x: auto;
    overflow-y: hidden;
  }

  &--page-level-scroll {
    position: sticky;
    top: 0;
    z-index: 5;
    background-color: $ContrastLow;
  }
}

.comd-table-toolbar__group {
  align-items: center;
  display: flex;
  padding: rem(4) 0;

  position: sticky;
  right: $table-side-padding;
}

.comd-table-toolbar__title-container {
  align-self: center;
  margin-right: rem(24);
}

.comd-table-toolbar__title {
  font: $comd-h3-v2;
  display: inline;
}

.comd-table-toolbar--mobile .comd-table-toolbar__title {
  font: $comd-h3-v1;
}

.comd-table-toolbar__count {
  font: $comd-body-text;
  display: inline;
  margin-left: rem(4);
}

.comd-table-toolbar--mobile .comd-table-toolbar__count {
  font: $comd-h3-v2;
}

.comd-table-toolbar__batch-dropdown {
  font: $comd-navigation-text;
  display: flex;
  justify-content: space-between;
}

.comd-table-toolbar__additional {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: none;
}

.comd-table-toolbar__search-field {
  margin-left: rem(12);

  &--minimizable {
    margin-left: 0;

    input {
      width: rem(120); // input width is otherwise 0 when table width is small
    }
  }
}
