.comd-error-pages {
  background: white;
  width: 380px;
  margin: 40px auto;
  box-shadow: 2px 3px 5px gray;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  @media (max-width: 400px) {
    width: 90%;
  }
}

.comd-error-pages__content {
  padding: 40px;
}

.comd-error-pages__icon {
  border-bottom: 1px solid #8c8c8c;
  padding-left: 20px;
}

.comd-error-pages__heading {
  font-size: 19px;
  display: block;
  margin: .67em 0;
}

.comd-error-pages__text {
  color: gray;
  line-height: 1.4;
  font-size: 15px;
  display: block;
  margin: 1em 0;
}

.comd-error-pages__text--type {
  text-align: right;
}

.comd-error-pages__link-block {
  border-bottom: 1px solid #8c8c8c;
}

.comd-error-pages__link-list {
  padding: 0 0 20px 0;
  list-style: none;
  margin: 0;
}

.comd-error-pages__link {
  padding-top: 20px;
  color: #0fa5e6;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
}

.comd-error-pages__link-home {
  color: #0fa5e6;
  text-decoration: none;
  display: inline-block;
}

.comd-error-pages__link-home-text {
  padding-right: 4px;
}
