@import '../../../global-styles/src/configuration';

$bottom-border-width: 2;
$l-r-padding: rem(24);
$top-bottom-padding: rem(14);

.comd-tabs__hr {
  background: $Disabled;
  height: 1px;
  z-index: 0;
}

.comd-tabs__header {
  font-size: rem(12);
  display: flex;
  align-items: center;
}

.comd-tabs__links {
  display: inline-flex;
  list-style: none;
  align-items: center;
  flex: none;
}

.comd-tabs__tab-content {
  padding: 0;
}

.comd-tabs__tab-content--padding {
  padding: rem(16) $l-r-padding rem(16) $l-r-padding;
}

.comd-tabs__link-button {
  transition-property: color;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
  margin: 0;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  color: inherit;
  outline: none;
  background: transparent;
  padding: $top-bottom-padding rem(8);
  font-size: rem(16);
  line-height: rem(20);
  position: relative;
  z-index: 1;
  flex: none;
  user-select: none;
  margin-bottom: rem(
      -$bottom-border-width
  ); // overlap bottom border on tab to make it clickable
}

.comd-tabs__link-button:link,
.comd-tabs__link-button:visited,
.comd-tabs__link-button:hover,
.comd-tabs__link-button:active {
  text-decoration: none;
  color: inherit;
}

.comd-tabs__header-children {
  margin-left: auto;
  padding-left: $l-r-padding;
  padding-right: $l-r-padding;
  white-space: nowrap;
}

.comd-tabs__header-tab-children {
  display: block;
}

.comd-tabs__header-tab {
  transition: border-bottom-color 100ms ease-in-out, background 100ms;
  display: flex;
  align-items: center;
  margin-right: rem(16);
  white-space: nowrap;
  border-bottom: rem($bottom-border-width) solid transparent;
  border-bottom-color: transparent;
  flex: none;
  color: $TextPrimary;
}

.comd-tabs__header-tab:hover {
  border-bottom-color: $PrimaryAccent;
  background: $Background1;
}

.comd-tabs__header-tab.comd-tabs__header-tab--disabled {
  color: $TextDisabled;
  pointer-events: none;
}

.comd-tabs__header-tab.comd-tabs__header-tab--active {
  border-bottom-color: $PrimaryAccent;
  color: $TextPrimary;
}

.comd-tabs__header-tab.comd-tabs__header-tab--active .comd-tabs__link-button {
  text-shadow: 0 0 0 currentColor, 0 0 0 currentColor;
  cursor: default;
}

.comd-tabs__tabs-container {
  overflow: hidden;
  position: relative;
  padding: 0 $l-r-padding;
}

.comd-tabs__header-scroll-container {
  display: flex;
  align-items: center;
  overflow: hidden;
  scroll-behavior: smooth;
}

// Fallback if IntersectionObserver is not supported/polyfilled
.comd-tabs__header-scroll-container.comd-tabs__header-scroll-container--no-intersectionobserver {
  overflow-x: auto;
}

.comd-tabs__scroll-button-container {
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 28%
  );
  position: absolute;
  height: 100%;
  width: rem(56);
  padding-left: rem(16);
  z-index: 2;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comd-tabs__scroll-button-container--left {
  left: 0;
  transform: rotate(180deg);
}

.comd-tabs__scroll-button-container--right {
  right: 0;
}

.comd-tabs__io {
  width: rem(1);
  background: transparent;
  height: rem(1);
  flex: none;
}

.comd-tabs__io--last {
  margin-right: 1ch;
}

.comd-tabs__menu-item {
  display: flex;
  align-items: center;
  width: 100%;
}

.comd-tabs__tab-icon-wrapper {
  display: flex;
  padding-right: rem(8);

  svg {
    width: rem(16);
    height: rem(16);
  }
}

.comd-tabs__dropdown-placeholder {
  width: rem(48);
}

.comd-tabs__options-menu-button {
  margin-right: rem(8);
}
