@import '../../../global-styles/src/configuration.scss';
@import 'css/calendar-controls';
@import 'css/calendar-week-numbers';
@import 'css/calendar-day';
@import 'css/calendar-grid';

.comd-calendar {
  background-color: $ContrastLow;
  border: rem(1) solid $Disabled;
  padding: rem(5) rem(24) rem(16);
  width: rem(332);
}

.comd-calendar--include-weeks {
  width: rem(373);
}

.comd-calendar--disabled {
  cursor: default;
  pointer-events: none;
}
