$size: 350px;

.important-info {
  font-size: 16px;
  padding: 16px;
}

.row {
  display: flex;
}

.col {
  display: flex;
  flex-direction: column;
  margin: 8px;
  width: $size;
}

.root-container {
  height: $size;
  transform: translate(0, 0);
  width: $size;
}

.div-with-padding {
  padding: 8px 0;
  width: 100%;
}

.note {
  bottom: 0;
  color: gray;
  padding: 8px;
  position: absolute;
  right: 0;
}

.demo-button {
  background: white;
  border: 0;
  border-radius: 4px;
  color: black;
  cursor: pointer;
  font-size: 12px;
  max-width: 500px;
  outline: none;
  padding: 8px;
  text-transform: uppercase;
  transition: .1s background-color ease-in-out;
  width: 100%;

  &:hover {
    background: rgba(0, 0, 0, .1);
  }
}

.demo-modal {
  align-items: center;
  background: rgba(0, 0, 0, .1);
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

