@keyframes comd-busy-dot {
  0% {
    opacity: 0;
  }

  50% {
    opacity: .8;
  }

  100% {
    opacity: 0;
  }
}

.comd-busy-dots {
  display: inline-flex;
  align-items: center;
}

.comd-busy-dots--base {
  font-size: inherit;
}

.comd-busy-dots--large {
  font-size: 2rem;
}

.comd-busy-dots--extra-large {
  font-size: 4rem;
}

.comd-busy-dots--idle {
  display: none;
  animation-play-state: paused;
}

.comd-busy-dots__dot {
  animation: comd-busy-dot 1.8s infinite;
  animation-play-state: inherit;
  border-radius: 50%;
  opacity: 0;
  width: .4em;
  height: .4em;
  background: currentColor;

  &:nth-child(1) {
    animation-delay: 0s;
  }

  &:nth-child(2) {
    animation-delay: .3s;
    margin: 0 .6ex;
  }

  &:nth-child(3) {
    animation-delay: .6s;
  }
}
