@import '../../../global-styles/src/configuration.scss';

.comd-pager {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: rem(8);
}

.comd-pager__type-wrapper {
  margin: 0 rem(8);
}

.comd-pager__navigation-button-wrapper + .comd-pager__navigation-button-wrapper {
  margin-left: rem(8);
}

.comd-pager__current-page-wrapper {
  display: grid;
  text-align: center;
}

.comd-pager__chip {
  margin: 0;
  cursor: pointer;
}

.comd-pager__icon-flip {
  transform: scaleX(-1);
}

.comd-pager__current-page-input {
  background: transparent;
  border: none;
  text-align: center;
  outline: none;
  grid-row: 1;
  grid-column: 1;
  opacity: 0;
  font: inherit;

  /* stylelint-disable property-no-vendor-prefix */
  /* we're using input type number to constrain
     input to only numbers, but dont want the up/down arrows. */
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  // hide up/down arrows for FF
  -moz-appearance: textfield;
  /* stylelint-enable */

  &:focus {
    opacity: 1;
  }
}

.comd-pager__current-page-label-wrapper {
  grid-row: 1;
  grid-column: 1;
}

.comd-pager__current-page-input:focus + .comd-pager__current-page-label-wrapper {
  visibility: hidden;
}

.comd-pager__current-page-rest-label {
  color: $comd-grey-saturation-sc-pt1-op2;
}
