@import '../../../global-styles/src/configuration.scss';
@import './../css/_variables';


.co-app-header-button {
  display: inline-flex;
  white-space: nowrap;
  flex-wrap: nowrap;
  align-items: center;
  fill: currentColor;
  height: $app-header-height;
  padding: 0;
  width: 40px;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  background: transparent;
  border: none;
  outline: none;

  &:active,
  &:focus,
  &:hover {
    background-color: $dropdown-background;
  }
}

.co-app-header-button--active {
  background-color: $dropdown-background;

  &:active,
  &:focus,
  &:hover {
    background-color: $dropdown-background;
  }
}
