@import '../../../global-styles/src/configuration.scss';
@import './../css/_variables';

$dropdown-divider: #525a64;
$dd-padding-l-r: 12px;
$dropdown-link-background: #008dd5;

.co-app-header-dd-menu {
  background-color: $dropdown-background;
  color: #fff;
  padding: rem(24) rem(16);
  font-size: 13px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.175);
  list-style: none;
  box-sizing: border-box;
  white-space: nowrap;
  max-height: 85vh;
  margin: 0;
  overflow: auto;

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
}

.co-app-header-dd-menu--min-max-size {
  max-width: 500px;
  min-width: 200px;
}

.co-app-header-dd-menu--use-grid-layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: auto;
  gap: rem(4);
}

.co-app-header-dd-menu__menu-item-link {
  text-decoration: none;
  overflow: hidden;
  padding: rem(6) $dd-padding-l-r;
  color: inherit;

  &:focus,
  &:hover {
    color: inherit;
    background-color: $dropdown-link-background;
    border-radius: 3px;
  }
}

.co-app-header-dd-menu__menu-item {
  display: flex;
}

.co-app-header-dd-menu__menu-item-text {
  padding: rem(6) $dd-padding-l-r;
}

.co-app-header-dd-menu__header {
  font-size: 11px;
  padding: rem(6) $dd-padding-l-r;
  text-transform: uppercase;
  opacity: 0.75;
}

.co-app-header-dd-menu__divider {
  background-color: $dropdown-divider;
  margin: rem(6) rem(-16);
  height: 1px;
  padding: 0;
}
