@import '../../../global-styles/src/configuration';
@import 'Variables';

$text-dimmed: $comd-grey-saturation-sc-pt1-op3;
$icon-button-size: rem(40);

.comd-inline-edit {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  position: relative;
  width: 100%;
  min-height: $icon-button-size;
  outline: none;
}

.comd-inline-edit__placeholder {
  color: $text-dimmed;
}

.comd-inline-edit__field-container {
  display: flex;
  width: auto;
  min-width: 0;
  //negative delay prevents animation pause while the input-field replaces the placeholder/label
  transition: min-width #{$TransitionDuration}ms cubic-bezier(0, 0, 0.8, 1) #{$TransitionDelay}ms;
}

.comd-inline-edit--editing .comd-inline-edit__field-container {
  min-width: 100%;
}

.comd-inline-edit__label,
.comd-inline-edit__placeholder {
  border: 0 solid transparent;
  font: inherit;
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0 rem(8) 0 0;
  cursor: inherit;
  transition: border $comd-text-field-transition;
  align-self: center;
}

.comd-inline-edit.comd-inline-edit--disabled .comd-inline-edit__label,
.comd-inline-edit.comd-inline-edit--disabled .comd-inline-edit__placeholder {
  border: 0 solid transparent;
  cursor: auto;
}

.comd-inline-edit__label--edit-from-label {
  cursor: text;
}

.comd-inline-edit__label--show-as-link {
  cursor: pointer;
}

.comd-inline-edit__pencil {
  flex: none;
}

.comd-inline-edit__input {
  width: 100%;
}

.comd-inline-edit--pencil-on-hover .comd-inline-edit__pencil {
  opacity: 0;
  width: 0;
  overflow: hidden;
  transition: width 0ms $comd-text-field-transition-timing
      $comd-text-field-transition-duration,
    opacity $comd-text-field-transition-duration
      $comd-text-field-transition-timing;
}

.comd-inline-edit--pencil-on-hover:hover .comd-inline-edit__pencil {
  opacity: 1;
  transition-delay: 0ms;
  width: rem(40);
}
