@import '../../../global-styles/src/configuration.scss';

.comd-markdown-view {
  flex: 1 1 auto;
  max-width: 100%;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    cursor: text;
    font-weight: bold;
    margin: 1em 0 15px;
    padding: 0;
    position: relative;
  }

  h1 {
    font-size: 30px;
    font-weight: normal;
    color: var(--ds-color-base-primary, $TextPrimary);
  }

  h2 {
    font-size: 26px;
    font-weight: lighter;
    color: var(--ds-color-base-primary, $TextPrimary);
  }

  h3 {
    font-size: 20px;
    font-weight: normal;
    color: var(--ds-color-base-primary, $TextPrimary);
  }

  h4 {
    font-size: 18px;
    font-weight: 600;
    color: #393c3e;
  }

  h5 {
    font-size: 15px;
    font-weight: 600;
    color: var(--ds-color-base-primary, $TextPrimary);
  }

  h6 {
    font-size: 14px;
    font-weight: normal;
    color: rgba(18, 24, 33, .54);
  }

  code {
    background-color: $comd-grey-saturation-sc-pt1-op7;
    border: 1px solid $comd-grey-saturation-sc-pt1-op6;
    border-radius: 3px;
    font-family: monospace;
    margin: 0 2px;
    padding: 0 5px;
    white-space: pre;
  }

  pre {
    background-color: $comd-grey-saturation-sc-pt1-op7;
    border: 1px solid $comd-grey-saturation-sc-pt1-op6;
    border-radius: 3px;
    box-sizing: inherit;
    display: block;
    font-family: monospace;
    font-size: 12px;
    line-height: 16px;
    margin: 15px 0;
    overflow: auto;
    padding: 6px 10px;
    white-space: pre;
  }

  pre code {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
  }

  pre > code {
    background: transparent;
    border: none;
    white-space: pre;
  }

  p {
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    color: var(--ds-color-base-primary, $TextPrimary);
    display: block;
    margin: 15px 0;
  }

  img {
    border-radius: 3px;
    box-sizing: border-box;
    margin-top: 8px;
    max-width: 100%;
    padding: 2px;
  }

  table {
    background-color: white;
    width: 100%;
    border-collapse: collapse;
  }

  table thead > tr > th {
    @include comd-text-ellipsis;
    text-align: inherit;
    border-bottom: rem(1) solid
      $comd-grey-saturation-sc-pt1-op6;
    padding: rem(6) rem(13)
      rem(6);
    color: $comd-grey-saturation-sc-pt1-op2;
  }

  table tbody > tr > td {
    border-bottom: rem(1) solid
      $comd-grey-saturation-sc-pt1-op6;
    color: $comd-grey-saturation-sc-pt1-op1;
    padding: rem(6) rem(13)
      rem(6) rem(15);
    text-align: left;
    white-space: normal;
  }

  table tbody > tr:hover > td {
    background-color: $comd-grey-saturation-sc-pt1-op7;
    cursor: pointer;
  }

  table tbody > tr > td:last-child {
    padding-right: rem(14);
  }

  blockquote {
    border-left: 4px solid $comd-grey-saturation-sc-pt1-op4;
    color: $comd-grey-saturation-sc-pt1-op1;
    margin: 15px 0;
    padding: 0 15px;
  }

  blockquote > :last-child {
    margin-bottom: 0;
  }

  blockquote > :first-child {
    margin-top: 0;
  }

  a {
    font-weight: 600;
    color: #00b0ff;
  }

  hr {
    border: 0;
    border-bottom: 1px solid $comd-grey-saturation-sc-pt1-op5;
  }

  ol,
  ul {
    display: block;
    margin: 15px 0;
    padding-left: 30px;
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  ul ul,
  ol ol,
  ul ol,
  ol ul {
    margin-bottom: 0;
    margin-top: 0;
  }

  ol ol {
    list-style-type: lower-alpha;
  }
  ol ol ol {
    list-style-type: lower-roman;
  }

  ul ul {
    list-style-type: circle;
  }

  ul ul ul {
    list-style-type: square;
  }

  li {
    display: list-item;
    /* Disable rule to allow fallback property */
    /* stylelint-disable declaration-block-no-duplicate-properties */
    text-align: inherit;
    text-align: match-parent;
    /* stylelint enable */
  }

  strong {
    font-weight: 600;
  }
}
