/**
 * Position for TooltipStatic which does not use popper.js for positioning
 */
.comd-tooltip.comd-tooltip--static-placement.comd-tooltip--top {
  padding: $tooltip-arrow-width 0;
}
.comd-tooltip.comd-tooltip--static-placement.comd-tooltip--right {
  padding: 0 $tooltip-arrow-width;
}
.comd-tooltip.comd-tooltip--static-placement.comd-tooltip--bottom {
  padding: $tooltip-arrow-width 0;
}
.comd-tooltip.comd-tooltip--static-placement.comd-tooltip--left {
  padding: 0 $tooltip-arrow-width;
}

.comd-tooltip.comd-tooltip--static-placement.comd-tooltip--left-start .comd-tooltip__arrow,
.comd-tooltip.comd-tooltip--static-placement.comd-tooltip--left-end .comd-tooltip__arrow,
.comd-tooltip.comd-tooltip--static-placement.comd-tooltip--left .comd-tooltip__arrow {
  top: 50%;
  right: 0;
  margin-top: -$tooltip-arrow-width;
  border-width: $tooltip-arrow-width 0 $tooltip-arrow-width $tooltip-arrow-width;
  border-left-color: $tooltip-arrow-color;
}

.comd-tooltip.comd-tooltip--static-placement.comd-tooltip--right-start .comd-tooltip__arrow,
.comd-tooltip.comd-tooltip--static-placement.comd-tooltip--right-end .comd-tooltip__arrow,
.comd-tooltip.comd-tooltip--static-placement.comd-tooltip--right .comd-tooltip__arrow {
  top: 50%;
  left: 0;
  margin-top: -$tooltip-arrow-width;
  border-width: $tooltip-arrow-width $tooltip-arrow-width $tooltip-arrow-width 0;
  border-right-color: $tooltip-arrow-color;
}

.comd-tooltip.comd-tooltip--static-placement.comd-tooltip--top-start .comd-tooltip__arrow,
.comd-tooltip.comd-tooltip--static-placement.comd-tooltip--top-end .comd-tooltip__arrow,
.comd-tooltip.comd-tooltip--static-placement.comd-tooltip--top .comd-tooltip__arrow {
  top: auto;
  bottom: 0;
  left: 50%;
  margin-left: -$tooltip-arrow-width;
  border-width: $tooltip-arrow-width $tooltip-arrow-width 0;
  border-top-color: $tooltip-arrow-color;
}

.comd-tooltip.comd-tooltip--static-placement.comd-tooltip--bottom-start .comd-tooltip__arrow,
.comd-tooltip.comd-tooltip--static-placement.comd-tooltip--bottom-end .comd-tooltip__arrow,
.comd-tooltip.comd-tooltip--static-placement.comd-tooltip--bottom .comd-tooltip__arrow {
  top: 0;
  left: 50%;
  margin-left: -$tooltip-arrow-width;
  border-width: 0 $tooltip-arrow-width $tooltip-arrow-width;
  border-bottom-color: $tooltip-arrow-color;
}
/**
 * End TooltipStatic styles
 */
