@import '../../../../../global-styles/src/configuration';

@mixin comd-tooltip__arrow($placement, $prefix: "comd") {
  .#{$prefix}-tooltip--#{$placement} .#{$prefix}-tooltip__arrow,
  .#{$prefix}-tooltip--#{$placement}-start .#{$prefix}-tooltip__arrow,
  .#{$prefix}-tooltip--#{$placement}-end .#{$prefix}-tooltip__arrow {
    @content;
  }
}

@mixin comd-tooltip__arrow--error($placement, $prefix: "comd") {
  .#{$prefix}-tooltip--#{$placement} .#{$prefix}-tooltip__arrow--error,
  .#{$prefix}-tooltip--#{$placement}-start .#{$prefix}-tooltip__arrow--error,
  .#{$prefix}-tooltip--#{$placement}-end .#{$prefix}-tooltip__arrow--error {
    @content;
  }
}


$tooltip-bg: solid-color($TextPrimary);
$tooltip-arrow-color: $tooltip-bg;
$tooltip-arrow-width: 5px;
$tooltip-max-width: 300px;

@import 'tooltip-static';

.comd-tooltip {
  font: $comd-tooltip-small-text;
  display: inline-block;
  padding: $tooltip-arrow-width;
  position: relative;
}

.comd-tooltip.comd-tooltip--left-start,
.comd-tooltip.comd-tooltip--left-end,
.comd-tooltip.comd-tooltip--left {
  padding-right: $tooltip-arrow-width;
}

.comd-tooltip.comd-tooltip--right-start,
.comd-tooltip.comd-tooltip--right-end,
.comd-tooltip.comd-tooltip--right {
  padding-left: $tooltip-arrow-width;
}

.comd-tooltip.comd-tooltip--top-start,
.comd-tooltip.comd-tooltip--top-end,
.comd-tooltip.comd-tooltip--top {
  padding-bottom: $tooltip-arrow-width;
}

.comd-tooltip.comd-tooltip--bottom-start,
.comd-tooltip.comd-tooltip--bottom-end,
.comd-tooltip.comd-tooltip--bottom {
  padding-top: $tooltip-arrow-width;
}

.comd-tooltip__inner {
  max-width: $tooltip-max-width;
  padding: rem(8) rem(16);
  color: $ContrastLow;
  text-align: left;
  text-decoration: none;
  background-color: $tooltip-bg;
  border-radius: rem(4);
  overflow-wrap: break-word;
}

.comd-tooltip__inner--error {
  background-color: $Danger;
}

.comd-tooltip__arrow {
  position: absolute;
  width: 0;
  height: 0;
  border: solid transparent;
}

@include comd-tooltip__arrow("left") {
  right: 0;
  border-width: $tooltip-arrow-width 0 $tooltip-arrow-width $tooltip-arrow-width;
  border-left-color: $tooltip-arrow-color;
}

@include comd-tooltip__arrow("right")  {
  left: 0;
  border-width: $tooltip-arrow-width $tooltip-arrow-width $tooltip-arrow-width 0;
  border-right-color: $tooltip-arrow-color;
}

@include comd-tooltip__arrow("top") {
  bottom: 0;
  border-width: $tooltip-arrow-width $tooltip-arrow-width 0;
  border-top-color: $tooltip-arrow-color;
}

@include comd-tooltip__arrow("bottom") {
  top: 0;
  border-width: 0 $tooltip-arrow-width $tooltip-arrow-width;
  border-bottom-color: $tooltip-arrow-color;
}

@include comd-tooltip__arrow--error("left") {
  border-left-color: $Danger;
}

@include comd-tooltip__arrow--error("right")  {
  border-right-color: $Danger;
}

@include comd-tooltip__arrow--error("top")  {
  border-top-color: $Danger;
}

@include comd-tooltip__arrow--error("bottom")  {
  border-bottom-color: $Danger;
}

.comd-tooltip--enter,
.comd-tooltip--appear {
  opacity: 0;
}

.comd-tooltip--enter.comd-tooltip--enter-active,
.comd-tooltip--appear.comd-tooltip--appear-active {
  transition: opacity #{$EnterDuration}ms $Easing-Decelerated;
  opacity: 1;
}

.comd-tooltip--leave {
  opacity: 1;
}

.comd-tooltip--leave.comd-tooltip--leave-active {
  transition: opacity #{$ExitDuration}ms $Easing-Decelerated;
  opacity: 0;
}
