@import '../../../../../global-styles/src/configuration.scss';

.comd-tour-guide {
  color: inherit;
}

.comd-tour-guide__item-content {
  display: flex;
  flex-direction: column;
  width: rem(520);
}

.comd-tour-guide__reset-item {
  display: flex;
  flex-direction: column;
  min-width: rem(200);
  max-width: rem(380);
}

.comd-tour-guide__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: $comd-grey-saturation-sc-pt1-op1;
  font-size: comd-font-size('xx-large');
  font-weight: comd-font-weight('semibold');
  line-height: comd-line-height('x-large');
}

.comd-tour-guide__footer,
.comd-tour-guide__reset-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
}

.comd-tour-guide__navigation-button:not(:first-child) {
  margin-left: rem(16);
}

.comd-tour-guide__abort {
  display: flex;
  align-items: center;
}

.comd-tour-guide__content,
.comd-tour-guide__reset-content {
  display: block;
  padding: rem(16) 0;
  font-size: comd-font-size('medium');
}

.comd-tour-guide__backdrop-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.comd-tour-guide__backdrop-fill {
  fill: rgba(0, 0, 0, .32);
  transition: opacity 200ms ease-out;
}

.comd-tour-guide__backdrop-mask-fill {
  fill: white;
}

.comd-tour-guide__backdrop-mask-element {
  fill: black;
}

.comd-tour-guide__root-body {
  overflow: hidden;
}

.comd-tour-guide__backdrop--enter,
.comd-tour-guide__backdrop--appear {
  opacity: 0;
}

.comd-tour-guide__backdrop--enter.comd-tour-guide__backdrop--enter-active,
.comd-tour-guide__backdrop--appear.comd-tour-guide__backdrop--appear-active {
  transition: opacity 200ms ease-out;
  opacity: 1;
}

.comd-tour-guide__backdrop--leave {
  opacity: 1;
}

.comd-tour-guide__backdrop--leave.comd-tour-guide__backdrop--leave-active {
  transition: opacity 200ms ease-out;
  opacity: 0;
}
