@import '../../../global-styles/src/configuration.scss';

.comd-banner {
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 50%;
  width: rem(800);
  max-width: 100%;
  transform: translateX(-50%);

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}

.comd-banner__transition {
  position: relative;
}

.comd-banner .comd-banner__content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: rem(50);
  align-items: center;
  padding: rem(5) rem(16) rem(5) 0;
}

.comd-banner .comd-banner__message {
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  z-index: 2;
  font: comd-font(
    comd-font-weight('semibold'),
    comd-font-size('medium', 'rem'),
    comd-line-height('medium')
  );
}

.comd-banner .comd-banner__message a:not([class*='button']) {
  color: inherit;
  text-decoration: none;

  &:link,
  &:visited {
    color: inherit;
  }

  &:hover,
  &:active {
    text-decoration: underline;
  }
}

.comd-banner .comd-banner__transition:last-child .comd-banner__message {
  border-radius: 0 0 rem(2) rem(2);
}

.comd-banner .comd-banner__message--success {
  background-color: $Safe;
}

.comd-banner .comd-banner__message--error {
  background-color: $Danger;
}

.comd-banner .comd-banner__message--info {
  background-color: $PrimaryAccent;
}

.comd-banner .comd-banner__message--warning {
  background-color: $Warning;
}

.comd-banner .comd-banner__icon-wrapper {
  display: flex;
  align-items: center;
  align-self: stretch;
  padding: 0 rem(16);
}

.comd-banner .comd-banner__icon {
  fill: currentColor;
}

.comd-banner .comd-banner__close-button {
  margin-left: rem(16);
}

.comd-banner .comd-banner__text {
  display: flex;
  align-items: center;
}

.comd-banner .comd-banner__show-more-toggle {
  margin-left: rem(16);
}

.comd-banner .comd-banner__details-link {
  margin-left: rem(16);
  flex: none;
}

.comd-banner .comd-banner__transition--appear {
  position: relative;
  z-index: -1;
  opacity: 0;
}

.comd-banner .comd-banner__transition--appear-active {
  transition: opacity #{$EnterDuration}ms $Easing-Decelerated;
  opacity: 1;
}

.comd-banner .comd-banner__transition--leave {
  position: relative;
  z-index: -1;
  opacity: 1;
}

.comd-banner .comd-banner__transition--leave-active {
  transition: opacity #{$ExitDuration}ms $Easing-Decelerated;
  opacity: 0;
}

.comd-banner .comd-banner__show-more--success {
  background-color: darken($Safe, 5%);
}

.comd-banner .comd-banner__show-more--error {
  background-color: darken($Danger, 5%);
}

.comd-banner .comd-banner__show-more--info {
  background-color: darken($PrimaryAccent, 5%);
}

.comd-banner .comd-banner__show-more--warning {
  background-color: darken($Warning, 5%);
}

.comd-banner .comd-banner__show-more {
  width: 90%;
  color: white;
  border-radius: 0 0 rem(7) rem(7);
  position: relative;
  margin: 0 auto;
  z-index: 1;

  transition: transform #{$EnterDuration}ms $Easing-Decelerated,
    padding #{$EnterDuration}ms $Easing-Decelerated;
  max-height: 0;
  padding: 0 rem(16);
  transform: translateY(-100%);
  overflow: hidden;

  &--open {
    transform: translateY(0);
    max-height: calc(#{rem(28)} * 1.4 + #{rem(30)});
    padding: rem(16);
  }
}
