@import '../../../../global-styles/src/configuration.scss';

$knobBoxShadow: 0 0 rem(1) 0 rgba(0, 0, 0, .12),
  0 1px 1px 0 rgba(0, 0, 0, .24);

@keyframes outerRipple {
  from {
    box-shadow: $knobBoxShadow, rgba(57, 167, 57, .5) 0 0 0 0;
  }
  to {
    box-shadow: $knobBoxShadow, rgba(57, 167, 57, 0) 0 0 0 rem(8);
  }
}

.comd-slider {
  width: 100%;
}

.comd-slider__slider-container {
  margin: rem(-8) rem(14) 0 rem(14);
  width: 100%;
  position: relative;
  box-sizing: border-box;
  display: inline-flex;
}

.comd-slider__slider-group {
  display: flex;
  flex-direction: row;
  min-height: rem(28);
  align-items: center;
}

.comd-slider__slider-wrapper {
  display: flex;
  align-items: center;
  width: 100%;

  &--has-input-field {
    width: calc(100% - #{rem(84)});
  }
}

.comd-slider__form-label {
  padding-bottom: rem(8);
  font-size: comd-font-size('x-large');
  color: $comd-grey-saturation-sc-pt1-op2;
  width: 100%;
}

.comd-slider__form-value {
  min-width: rem(36);
  color: $comd-grey-saturation-sc-pt1-op2;
  text-align: right;
  margin-left: rem(16);
}

.comd-slider__form-label--disabled,
.comd-slider__form-value--disabled {
  color: $comd-grey-saturation-sc-pt1-op3;
}

.comd-slider__range-label {
  color: $comd-grey-saturation-sc-pt1-op3;
}

.comd-slider__rail {
  position: absolute;
  height: rem(8);
  width: 100%;
  background-color: rgba($comd-grey-saturation-sc-pt1, .54);
  opacity: .5;
  border-radius: rem(10);
}

.comd-slider__rail--disabled {
  background-color: $comd-grey-saturation-sc-pt1-op4;
  opacity: 1;
}

.comd-slider__track {
  position: absolute;
  height: rem(8);
  left: 0;
  background-color: rgba($comd-color-green-saturation-sc-pt1, .5);
  border-radius: rem(10);
}

.comd-slider__track--disabled {
  background-color: $comd-grey-saturation-sc-pt1-op3;
}

.comd-slider__marks-container {
  width: 100%;
  position: relative;
  left: rem(-2); // offset for mark's width
}

.comd-slider__mark {
  position: absolute;
  top: rem(2);
  border-radius: 50%;
  width: rem(4);
  height: rem(4);
  background: rgba($comd-grey-saturation-sc-pt1, .54);
}

.comd-slider__handler {
  position: absolute;
  outline-width: 0;
  width: rem(24);
  height: rem(24);
  margin-top: rem(4);
  transform: translate(-50%, -50%);
  cursor: pointer;
  border-radius: 50%;
  background-color: $comd-color-green-saturation-sc-pt1;
  box-shadow: $knobBoxShadow;
}

.comd-slider__handler--disabled {
  background-color: white;
}

.comd-slider__ripple:hover,
.comd-slider__ripple:active {
  animation: outerRipple 1s both;
}

.comd-slider__input-field-wrapper {
  margin-left: rem(16);
}
