@import '../../../../global-styles/src/configuration.scss';

.comd-slider-input {
  display: flex;
  align-items: center;

  &__text-field {
    margin-left: rem(20);
    width: 100%;
  }

  &__form-control {
    width: rem(30);
  }

  &__input {
    font-size: comd-font-size('small');
    color: $comd-grey-saturation-sc-pt1-op1;
  }
}
