@import '../../../../../global-styles/src/_configuration.scss';

.comd-select-multi-value {
  font-weight: comd-font-weight('semibold');
  margin: rem(4) rem(8) 0 0;
  max-width: 100%;
}

.comd-select-multi-value__content {
  flex: none;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  direction: ltr;
}

.comd-select-multi-value__content--rtl {
  direction: rtl;
}
