@import '../../../global-styles/src/configuration.scss';

.comd-side-panel {
  border-right: rem(1) solid rgba(18, 24, 33, .12);
  background: #fff;
}

.comd-side-panel__header {
  display: flex;
  align-items: center;
  min-height: rem(33);
  white-space: nowrap;
  border-bottom: rem(1) solid rgba(18, 24, 33, .12);
}
