@import '../../../global-styles/src/configuration.scss';

.comd-empty-state {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: rem(get-map-value($Spacing, 'Small'));
  font: $comd-navigation-text;
  color: $TextSecondary;
  text-align: center;
}

.comd-empty-state__img {
  max-width: rem(136);
  height: auto;
}
