@import '../../../global-styles/src/configuration';

$transition-duration: #{$EnterDuration}ms;
$border-radius-length: rem(4);

.comd-section {
  border-radius: $border-radius-length;
  box-shadow: 0 0 rem(2) 0 rgba(0, 0, 0, 0.24);
  position: relative;
  width: 100%;
}

.comd-section__header-container {
  display: flex; // Required for ie-11 https://github.com/philipwalton/flexbugs#3-min-height-on-a-flex-container-wont-apply-to-its-flex-items
  transition: padding $transition-duration cubic-bezier(0.4, 0, 0.2, 1) 0ms;

  header {
    display: flex;
    min-height: rem(40);
    width: 100%; // Needed because of the extra flex wrapper that is required for IE 11
    align-items: center;
    justify-content: space-between;
    color: $TextSecondary;
    overflow: hidden;
  }
}

.comd-section__header-container--padding-medium {
  padding: rem(8) rem(8) rem(8) rem(16);
}

.comd-section__header-container--padding-large {
  padding: rem(8) rem(8) rem(8) rem(24);
}

.comd-section__header-container--collapsed.comd-section__header-container--padding-large,
.comd-section__header-container--collapsed.comd-section__header-container--padding-medium {
  padding-top: rem(2);
  padding-bottom: rem(2);
}

.comd-section__header-title {
  flex: 1;
  font: $comd-h3-v2;
  color: $TextPrimary;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.comd-section__title-flex {
  display: flex;
  align-items: center;
}

.comd-section__draggable-icon {
  display: flex;
  margin-right: rem(4);
}

.comd-section__header-icons-container {
  display: flex;
  align-items: center;
}

// Visibility removes tab-index on collapsed panels
.comd-section__collapse-area {
  visibility: visible;
  opacity: 1;
  overflow: hidden;
  transition: all $transition-duration cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition-property: visibility, opacity, height;
}

.comd-section__collapse-area--collapsed {
  height: 0;
}

.comd-section--collapsed .comd-section__collapse-area {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
}

.comd-section--error {
  border: rem(2) solid $Danger;
}

.comd-section--active {
  border-left: rem(5) solid $PrimaryAccent;
}

.comd-section--background-contrast-low {
  background-color: var(--ds-color-base-contrast-low, $ContrastLow);
}
.comd-section--background-alt-primary {
  background-color: var(--ds-color-alt-primary, $Background1);
}

.comd-section__footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
}

.comd-section__footer--padding-medium {
  padding: rem(8) rem(16) rem(16) rem(16);
}

.comd-section__footer--padding-large {
  padding: rem(8) rem(24) rem(24) rem(24);
}

.comd-section__body {
  padding: 0;
}

.comd-section__body--padding-medium {
  padding: rem(16);
}

.comd-section__body--padding-large {
  padding: rem(24);
}

.comd-section__body--header-present.comd-section__body--padding-medium {
  padding: rem(8) rem(16) rem(16) rem(16);
}

.comd-section__body--header-present.comd-section__body--padding-large {
  padding: rem(8) rem(24) rem(24) rem(24);
}

.comd-section__list-container {
  .comd-section {
    border-radius: 0;
  }
}

.comd-section__list-container--spaced {
  .comd-section {
    margin: rem(8) 0;
    box-shadow: 0 rem(2) rem(4) 0 rgba(0, 0, 0, 0.24);
    transition: all $transition-duration cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition-property: margin;
  }

  .comd-section:first-of-type {
    margin-top: 0;
    border-top-left-radius: $border-radius-length;
    border-top-right-radius: $border-radius-length;
  }

  .comd-section:last-of-type {
    margin-bottom: 0;
    border-bottom-left-radius: $border-radius-length;
    border-bottom-right-radius: $border-radius-length;
  }

  .comd-section--collapsed {
    margin: 0;
  }

  .comd-section:not(:first-of-type)::before {
    top: rem(-1);
    left: 0;
    right: 0;
    height: rem(1);
    width: 100%;
    content: '';
    position: absolute;
    opacity: 0.5;
    background-color: $Disabled;
  }
}

.comd-section__menu-item {
  align-items: center;
  display: flex;
}
