@import '../configuration';

// stylelint-disable
// stylelint does not understand :export
:export {
  TextPrimary: $TextPrimary;
  TextSecondary: $TextSecondary;
  TextDisabled: $TextDisabled;
  Disabled: $Disabled;
  Background1: $Background1;
  Background2: $Background2;
  Background3: $Background3;
  PrimaryAccent: $PrimaryAccent;
  SecondaryAccent: $SecondaryAccent;
  Interactive: $Interactive;
  Safe: $Safe;
  SafeBackground: $SafeBackground;
  Warning: $Warning;
  WarningBackground: $WarningBackground;
  Danger: $Danger;
  DangerBackground: $DangerBackground;
  Highlight: $Highlight;
  PassiveBackground: $PassiveBackground;
  ChartNeutral: $ChartNeutral;
  ContrastHigh: $ContrastHigh;
  ContrastLow: $ContrastLow;
  Transparent: $Transparent;
  Product01GreenDark: $Product01GreenDark;
  Product02Green: $Product02Green;
  Product03GreenLight: $Product03GreenLight;
  Product04TurquoiseDark: $Product04TurquoiseDark;
  Product05TurquoiseDark: $Product05TurquoiseDark;
  Product06Turquoise: $Product06Turquoise;
  Product07PurpleDark: $Product07PurpleDark;
  Product08PurpleDark: $Product08PurpleDark;
  Product09Purple: $Product09Purple;
  Product10Purple: $Product10Purple;
  Product11OrangeDark: $Product11OrangeDark;
  Product12OrangeDark: $Product12OrangeDark;
  Product13Orange: $Product13Orange;
  Product14Orange: $Product14Orange;
  Product15YellowDark: $Product15YellowDark;
  Product16YellowDark: $Product16YellowDark;
  Product17Yellow: $Product17Yellow;
}
