@import '../configuration';

// stylelint-disable
// stylelint does not understand :export
:export {
  primaryOpacity: $primaryOpacity;
  secondaryOpacity: $secondaryOpacity;
  tertiaryOpacity: $tertiaryOpacity;
  quaternaryOpacity: $quaternaryOpacity;
  quinaryOpacity: $quinaryOpacity;
  altOpacity: $altOpacity;
  zeroOpacity: $zeroOpacity;
}
