@import '../../../global-styles/src/configuration';

.comd-survey-node-badges {
  display: flex;
  align-items: center;
  flex: none;
}

.comd-survey-node-badges__badge {
  display: flex;
  align-items: center;
}
