@import '../../../global-styles/src/configuration';

.comd-survey-node {
  display: flex;
  align-items: center;
  width: 100%;
}

.comd-survey-node__icon {
  display: flex;
  align-items: center;
  flex: none;
  margin-right: rem(2);
}

.comd-survey-node__badges {
  display: flex;
  align-items: center;
  flex: none;
  margin-left: auto;
}
