@import '../../../global-styles/src/configuration';

.comd-survey-node-label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.comd-survey-node-label__name {
  font-weight: 600;
  color: $TextPrimary;
}

.comd-survey-node-label__title {
  font-weight: 400;
  color: $TextPrimary;
}
