@import 'configuration';

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: #{$comd-base-font-size}px;
  height: 100%;
}

body {
  color: $comd-grey-saturation-sc-pt1;
  font: $comd-body-text;
  height: 100%;
  line-height: normal;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  font-weight: 400;
}

h2 {
  font: $comd-h2-v1;

  @media screen and (min-width: comd-to-relative-unit(768,
 rem)) { /* stylelint-disable-line media-query-list-comma-newline-after */
    font: $comd-h2-small-screens;
  }
}

h3 {
  font: $comd-h3-v1;
}

h4 {
  font: $comd-h4-v1;
}

input,
textarea,
select,
button {
  font: $comd-body-text;
}
