@import 'variables/_colors';
@import 'variables/_opacities';

/*
 * This file should be imported in all apps. Shared components depend on these variables being set.
 * This file should only be imported once.
 */

// ds - design-system; we need to use ds prefix to avoid conflicts because these are defined 'globally' on the `:root` pseudo-class.

:root {
  // base colors
  --ds-color-base-contrast-low: #{$ContrastLow};
  --ds-color-base-contrast-high: #{$ContrastHigh};
  --ds-color-base: #{$BaseColor}; //base
  --ds-color-base-primary: #{$TextPrimary}; // basePrimary
  --ds-color-base-secondary: #{$TextSecondary}; // baseSecondary
  --ds-color-base-tertiary: #{$TextDisabled}; // baseTertiary
  --ds-color-base-quaternary: #{$BaseQuarternary}; // baseQuaternary
  --ds-color-base-quinary: #{$Disabled}; // baseQuinary
  --ds-color-alt-primary: #{$Background1}; // baseAlt
  --ds-color-alt-secondary: #{$Background2};
  --ds-color-alt-tertiary: #{$Background3};
}
