@mixin comd-text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

//shadows
@mixin comd-widget-box-shadow {
  //used for the widget boxes
  box-shadow: 0 0 comd-to-relative-unit(2, rem) 0 rgba(0, 0, 0, .12),
    0 comd-to-relative-unit(1, rem) comd-to-relative-unit(1, rem) 0 rgba(0, 0, 0, .24);
}

@mixin comd-small-boxes-shadow($is_imp: false) {
  //used for smaller boxes like widget options menu, tooltips with more information
  @if $is_imp == false {
    box-shadow: 0 0 comd-to-relative-unit(2, rem) 0 rgba(0, 0, 0, .12), 0 comd-to-relative-unit(2, rem) comd-to-relative-unit(4, rem) 0 rgba(0, 0, 0, .24);
  }
  @else { /* stylelint-disable-line block-closing-brace-newline-after */
    box-shadow: 0 0 comd-to-relative-unit(2, rem) 0 rgba(0, 0, 0, .12), 0 comd-to-relative-unit(2, rem) comd-to-relative-unit(4, rem) 0 rgba(0, 0, 0, .24) !important; /* stylelint-disable-line declaration-no-important */
  }
}

@mixin comd-modal-dialog-box-shadow {
  //used for viewing details for one responses
  box-shadow: 0 0 comd-to-relative-unit(24, rem) 0 rgba(0, 0, 0, .22),
    0 comd-to-relative-unit(24, rem) comd-to-relative-unit(24, rem) 0 rgba(0, 0, 0, .3);
}

@mixin comd-widget-header-dynamic-shadow {
  //used at the bottom edge of widget's header, shown dynamically when the content is scrolled up
  box-shadow: 0 comd-to-relative-unit(4, rem) comd-to-relative-unit(8, rem) 0 rgba(50, 50, 50, .12);
}

//border radius
@mixin comd-small-border-radius($is_imp: false) {
  //2px, used for tooltip box, for overlay modal dialogs, list menus (drop-downs)
  @if $is_imp == false {
    border-radius: comd-to-relative-unit(2, rem);
  }
  @else { /* stylelint-disable-line block-closing-brace-newline-after */
    border-radius: comd-to-relative-unit(2, rem) !important; /* stylelint-disable-line declaration-no-important */
  }
}

@mixin comd-medium-border-radius {
  //3px, used for the widget boxes, active main navigation box, search box
  border-radius: comd-to-relative-unit(3, rem);
}

// Will provide the appropriate media query from _responsive.scss if breakpoint is available
@mixin comd-responsive($name, $width-type: 'max') {
  @if map-has-key($breakpoints, $name) {
    @media screen and (#{$width-type}-width: '#{map-get($breakpoints, $name)}px') {
      @content;
    }
  }
}

/* comd-click-ripple - ripple effect when clicking
When using this mixin, you also need to add "position:relative" and "overflow: hidden"
to a parent selector, or the selector you use it on to ensure that it behaves properly.

Usage example:

.my-clickable-thing {
  position: relative;
  overflow: hidden;

  @include comd-click-ripple;
}

If your thing also has a disabled mode, you want to make sure it does not have the ripple effect when clicking.
Add a modifier to your clickable thing, and only apply the mixin when the disabled class is NOT present.
Using pointer-events: none to workaround this is discouraged, since it will stop tooltips etc. from working.

.my-clickable-thing {
  position: relative;
  overflow: hidden;
}

.my-clickable-thing:not(.my-clickable-thing--disabled) {
  @include comd-click-ripple;
}
*/
@mixin comd-click-ripple {
  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(
      circle,
      rgba($comd-black-sc, 0.1) 10%,
      transparent 10.1%
    );
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform 400ms, opacity 800ms;
  }

  &:active::before {
    transform: scale(0, 0);
    opacity: 1;
    transition: 0s;
  }
}
