@import '../../../global-styles/src/configuration';

@mixin comd-popover__arrow($placement, $prefix: 'comd') {
  .#{$prefix}-popover--#{$placement} .#{$prefix}-popover__arrow,
  .#{$prefix}-popover--#{$placement}-start .#{$prefix}-popover__arrow,
  .#{$prefix}-popover--#{$placement}-end .#{$prefix}-popover__arrow {
    @content;
  }
}

$popover-arrow-width: 10px;
$popover-opacity: 1;

.comd-popover {
  position: relative;
}

.comd-popover--left-start,
.comd-popover--left-end,
.comd-popover--left {
  padding-right: $popover-arrow-width;
}

.comd-popover--right-start,
.comd-popover--right-end,
.comd-popover--right {
  padding-left: $popover-arrow-width;
}

.comd-popover--top-start,
.comd-popover--top-end,
.comd-popover--top {
  padding-bottom: $popover-arrow-width;
}

.comd-popover--bottom-start,
.comd-popover--bottom-end,
.comd-popover--bottom {
  padding-top: $popover-arrow-width;
}
.comd-popover--no-arrow {
  padding: 0;
}

.comd-popover__content {
  padding: 0;
  background-color: $ContrastLow;
  box-shadow: 0 2px 28px 13px rgba(0, 0, 0, 0.2);
  border-radius: rem(4);
}

.comd-popover__content--padding {
  padding: rem(16);
}

.comd-popover__arrow {
  position: absolute;
  width: 0;
  height: 0;
  border: solid transparent;
}

@include comd-popover__arrow('left') {
  right: 0;
  border-width: $popover-arrow-width 0 $popover-arrow-width $popover-arrow-width;
  border-left-color: $ContrastLow;
}

@include comd-popover__arrow('right') {
  left: 0;
  border-width: $popover-arrow-width $popover-arrow-width $popover-arrow-width 0;
  border-right-color: $ContrastLow;
}

@include comd-popover__arrow('top') {
  bottom: 0;
  border-width: $popover-arrow-width $popover-arrow-width 0;
  border-top-color: $ContrastLow;
}

@include comd-popover__arrow('bottom') {
  top: 0;
  border-width: 0 $popover-arrow-width $popover-arrow-width;
  border-bottom-color: $ContrastLow;
}

.comd-popover--enter,
.comd-popover--appear {
  opacity: 0;
}

.comd-popover--enter.comd-popover--enter-active,
.comd-popover--appear.comd-popover--appear-active {
  transition: opacity #{$EnterDuration}ms $Easing-Decelerated;
  opacity: 1;
}

.comd-popover--leave {
  opacity: 1;
}

.comd-popover--leave.comd-popover--leave-active {
  transition: opacity #{$ExitDuration}ms $Easing-Decelerated;
  opacity: 0;
}
