@import '../../../global-styles/src/_configuration.scss';

.comd-badge {
  display: inline-block;
  position: relative;
}
.comd-badge__overlay {
  background-color: $Danger;
  border: rem(2) solid $ContrastLow;
  border-radius: rem(18);
  color: $ContrastLow;
  font-family: $comd-font-family;
  font-size: comd-font-size('x-small');
  height: rem(18);
  left: 50%;
  line-height: rem(14);
  min-width: rem(18);
  padding: 0 rem(3);
  position: absolute;
  text-align: center;
  top: rem(2);
  width: auto;
}

