
.comd-calendar__controls-container {
  width: 100%;
}

.comd-calendar__controls {
  display: flex;
  justify-content: space-between;
}

.comd-calendar__current-month {
  cursor: pointer;
  background-color: $Background1;
  border-radius: rem(15);
  color: $TextSecondary;
  font: $comd-h4-v1;
  margin-bottom: auto;
  margin-top: auto;
  padding: rem(6) rem(14);
  text-align: center;

  &:hover {
    background-color: $TextSecondary;
    color: $ContrastLow;
  }
}

.comd-calendar__current-month--disabled {
  color: #ddd;
}

.comd-calendar__select-controls {
  margin-bottom: auto;
  margin-top: auto;
}

.comd-calendar__prevmonth {
  cursor: pointer;
  margin-left: -#{rem(15)};
}

.comd-calendar__nextmonth {
  cursor: pointer;
  margin-right: -#{rem(15)};
}

.comd-calendar__df-select-wrapper {
  position: relative;

  &:first-child {
    margin-right: rem(24);
  }
}

.comd-calendar__df-select-wrapper::after {
  //adds the select arrow
  content: '';
  border-left: rem(4) solid transparent;
  border-right: rem(4) solid transparent;
  border-top: rem(4) solid $TextSecondary;
  bottom: rem(7);
  height: 0;
  margin-bottom: auto;
  margin-top: auto;
  pointer-events: none;
  position: absolute;
  right: rem(2);
  width: 0;
}
/* stylelint-disable property-no-vendor-prefix */
.comd-calendar__df-select {
  // remove default arrow
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
  // creating new arrow
  border: none;
  border-bottom: 2px solid $Disabled;
  color: $TextSecondary;
  padding-bottom: rem(7);
  padding-right: rem(25);

  &:focus {
    outline: none;
  }
}
/* stylelint-enable */
