.comd-calendar__day {
  cursor: pointer;
  height: 100%;
  transition-duration: 0.1s;
  transition-property: background-color, color;
  width: 100%;
}

.comd-calendar__day-background {
  align-items: center;
  border-radius: 50%;
  display: flex;
  height: 100%;
  justify-content: center;
  transition-duration: 0.1s;
  transition-property: background-color;
  width: 100%;

  &:hover {
    background-color: $SecondaryAccent;
    color: $ContrastLow;
    transition-duration: 0.1s;
    transition-property: background-color, color;
  }
}

.comd-calendar__day-prev-month,
.comd-calendar__day-next-month {
  visibility: hidden;
}

.comd-calendar__day-prev-month--visible,
.comd-calendar__day-next-month--visible {
  color: $TextDisabled;
  visibility: visible;
}

.comd-calendar__day--selected-week {
  background-color: $Interactive;
}

.comd-calendar__day--selected-range {
  background-color: $Interactive;
}

.comd-calendar__day--selected .comd-calendar__day-background {
  background-color: $PrimaryAccent;
  color: $ContrastLow;
  transition-duration: 0.1s;
  transition-property: background-color, color;
}

.comd-calendar__day--today .comd-calendar__day-background {
  border: 1px solid $TextPrimary;
}

.comd-calendar__day--start-range {
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
}

.comd-calendar__day--end-range {
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
}

.comd-calendar__day--disabled {
  color: $TextDisabled;
  cursor: default;

  .comd-calendar__day-background:hover {
    color: inherit;
    background-color: transparent;
  }
}
