.comd-calendar__week-numbers {
  border-right: rem(1) solid $Background2;
  display: flex;
  flex-direction: column;
  margin-top: rem(40);
  margin-right: rem(24);
}

.comd-calendar__week-number-background {
  align-items: center;
  border-radius: 50%;
  display: flex;
  height: 100%;
  justify-content: center;
  transition-duration: 0.1s;
  transition-property: background-color, color;
  width: 100%;

  &:hover {
    background-color: $SecondaryAccent;
    color: $ContrastLow;
    transition-duration: 0.1s;
    transition-property: background-color, color;
  }
}

.comd-calendar__week-number {
  cursor: pointer;
  height: rem(40);
  width: rem(40);
  box-sizing: content-box;
  margin-bottom: rem(1);
  margin-top: rem(1);
}

.comd-calendar__week-number--selected .comd-calendar__week-number-background {
  background-color: $PrimaryAccent;
  color: $ContrastLow;
  transition-duration: 0.1s;
  transition-property: background-color, color;
}

.comd-calendar__week-number--hovered:not(.comd-calendar__week-number--selected) .comd-calendar__week-number-background {
  background-color: $SecondaryAccent;
  color: $ContrastLow;
  transition-duration: 0.1s;
  transition-property: background-color, color;
}

.comd-calendar__week-number--disabled {
  color: $TextDisabled;
}
