.comd-calendar__grid-container {
  font-size: 14px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.comd-calendar__grid {
  width: 100%;

  &::selection {
    background-color: transparent;
  }

  &::-moz-selection {
    background-color: transparent;
  }
}

.comd-calendar__days-of-week {
  align-items: center;
  color: $TextSecondary;
  display: flex;
  height: rem(40);
  justify-content: space-around;
}

.comd-calendar__days {
  color: $TextPrimary;
  display: flex;
  flex-direction: column;
}

.comd-calendar__week {
  align-items: center;
  display: flex;
  height: rem(40);
  justify-content: space-around;
  margin: rem(1);
}

.comd-calendar__week--hovered .comd-calendar__day:not(.comd-calendar__day--selected-week),
.comd-calendar__week--hover-whole:hover .comd-calendar__day:not(.comd-calendar__day--selected-week) {
  background-color: $Interactive;
}

.comd-calendar__week--hover-whole .comd-calendar__day-background:hover,
.comd-calendar__week--hover-whole:hover .comd-calendar__day-background:hover {
  background-color: transparent;
  color: inherit;
}
