/* stylelint-disable number-leading-zero */
@import '../../../../../global-styles/src/_configuration.scss';

.comd-simple-text-field {
  padding: rem(8) rem(12);
  color: $TextPrimary;
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  min-width: 0;
  background: none;
  font-size: rem(16);

  &:focus {
    outline: 0;
  }

  &::placeholder {
    color: $TextSecondary;
  }

  &::-ms-clear {
    display: none;
    width : 0;
    height: 0;
  }

  &--disabled {
    color: $TextDisabled;
    pointer-events: none;
  }

  &--readOnly {
    color: $TextPrimary;
    padding: rem(8) 0;
  }

  &--align-left {
    text-align: left;
  }

  &--align-right {
    text-align: right;
  }

  &--prefix {
    padding-left: 0;
  }

  &--suffix {
    padding-right: 0;
  }
}
