@import '../../../global-styles/src/configuration.scss';

.comd-fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.comd-fieldset__title {
  font-size: comd-font-size('medium');
  font-weight: comd-font-weight('semibold');
  margin-bottom: rem(8);
  align-items: center;
  display: flex;
}

.comd-fieldset__content {
  display: flex;
  flex: 1 1 auto;
  gap: rem(12);
}

.comd-fieldset__content--horizontal {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.comd-fieldset__content--vertical {
  flex-direction: column;
}

.comd-fieldset__helpertext-icon {
  margin-left: rem(4);
  display: inline-flex;
  align-items: center;
}
