@import '../../../global-styles/src/configuration.scss';

.comd-fieldset-group {
  display: flex;
  gap: rem(16);
}

.comd-fieldset-group--horizontal {
  flex-direction: row;
  flex-wrap: wrap;
}

.comd-fieldset-group--vertical {
  flex-direction: column;
}
