@import '../../../../global-styles/src/configuration';
@import '../../variables';

.comd-table-filters__filter-box {
  padding: rem(16) rem(16) rem(24) rem(16);
}

.comd-table-filters__filter-icon {
  fill: $TextSecondary;
  &:hover {
    fill: $TextPrimary;
  }
}

.comd-table-filters__filter-icon--filtered {
  fill: $TextPrimary;
}
