$cell-left-padding: rem(12);
$cell-right-padding: rem(8);
$table-side-padding: rem(24);
$pager-top-bottom-padding: rem(24);
$menu-min-width: rem(112);
$toolbar-height: rem(48);
$mobile-table-side-padding: rem(16);
$mobile-toolbar-height: rem(54);
$pluginIconPaddingSize: rem(8);
