h3 {
  margin-bottom: 10px;
}

.demo-scroll-area__scrollable-list {
  width: 400px;
  height: 300px;
}

.demo-scroll-area__scrollable-list--horizontal {
  height: 100px;
}

.demo-scroll-area__content {
  display: flex;
  flex-direction: column;
}

.demo-scroll-area__content--horizontal {
  min-width: 3000px;
  height: 100%;
}

.demo-scroll-area__large-text {
  height: 100%;
  border: 1px solid black;
  min-width: 3000px;
}

.demo-scroll-area__item {
  height: 30px;
  border: 1px solid black;
  border-radius: 4px;
}
